swagger: '2.0'
host: api.mch.weixin.qq.com
basePath: ''
info:
  title: 微信支付APIv3文档
  description: "整理自[微信支付官方文档](https://pay.weixin.qq.com/wiki/doc/apiv3/wxpay/pages/Overview.shtml) [WechatPay-API-v3](https://wechatpay-api.gitbook.io/wechatpay-api-v3/) 本[项目/工具](https://github.com/TheNorthMemory/wechatpay-openapi)有如下约定：

    1. 对于类型定义是 **string($MediaId)**， 需要用 */通用接口* 媒体(图片/视频)上传获取到返回值；

    2. 对于类型定义是 **string($MediaUrl)**，需要用 */运营工具/通用接口* 营销图片上传接口取得返回值；

    3. 对于类型定义是 **string($rfc3339)**，请使用时间带时区字符串；

    4. 对于类型定义是 **string($rfc2397)**，官方文档说是可直接用于img标签，不确定是否符合RFC2397规范；

    5. 对于类型定义是 **string($numeric)**，请留意其值传递实质是字符串类型，类型校对需要使用numeric校对；

    6. 对于类型定义是 **string($jsonArrayLike)**，请使用数组对象转字符串；

    7. 对于类型定义是 **string($date)**，请留意使用*东八区*日期格式；

    8. 对于类型定义是 **string($url)**，请使用以https开头的URL；

    9. 对于类型定义是 **number($uint64)**，请注意返回值JSON解码时，有可能整型溢出；

    10. 对于对象属性 **x-is-sensitive**，请根据场景需要，在请求体内需要 *rsa.encrypt*, 在返回体需要 *rsa.decrypt*；
"
  version: 0.0.1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: 微信支付分
  - name: 微信支付分∙免确认模式特有
  - name: 商户进件∙特约商户进件
  - name: 商户进件∙通用接口
  - name: 运营工具∙商家券
  - name: 运营工具∙委托营销
  - name: 运营工具∙支付有礼
  - name: 运营工具∙消费卡
  - name: 运营工具∙通用接口
  - name: 经营工具∙支付即服务
  - name: 经营工具∙点金计划
  - name: 通用接口
  - name: 通用接口∙商业支付投诉
paths:
  /v3/apply4sub/sub_merchants/{sub_mchid}/modify-settlement:
    $ref: ./spec/apply4sub/sub_merchants/{sub_mchid}/modify-settlement.yaml
  /v3/apply4sub/sub_merchants/{sub_mchid}/settlement:
    $ref: ./spec/apply4sub/sub_merchants/{sub_mchid}/settlement.yaml
  /v3/apply4subject/applyment:
    $ref: ./spec/apply4subject/applyment.yaml
  /v3/apply4subject/applyment/{applyment_id}/cancel:
    $ref: ./spec/apply4subject/applyment/{applyment_id}/cancel.yaml
  /v3/apply4subject/applyment/{business_code}/cancel:
    $ref: ./spec/apply4subject/applyment/{business_code}/cancel.yaml
  /v3/apply4subject/applyment/merchants/{sub_mchid}/state:
    $ref: ./spec/apply4subject/applyment/merchants/{sub_mchid}/state.yaml
  /v3/applyment4sub/applyment/applyment_id/{applyment_id}:
    $ref: ./spec/applyment4sub/applyment/applyment_id/{applyment_id}.yaml
  /v3/applyment4sub/applyment/business_code/{business_code}:
    $ref: ./spec/applyment4sub/applyment/business_code/{business_code}.yaml
  /v3/applyment4sub/applyment/:
    $ref: ./spec/applyment4sub/applyment/stub.yaml
  /v3/certificates:
    $ref: ./spec/certificates.yaml
  /v3/goldplan/merchants/changecustompagestatus:
    $ref: ./spec/goldplan/merchants/changecustompagestatus.yaml
  /v3/goldplan/merchants/changegoldplanstatus:
    $ref: ./spec/goldplan/merchants/changegoldplanstatus.yaml
  /v3/marketing/busifavor/callbacks:
    $ref: ./spec/marketing/busifavor/callbacks.yaml
  /v3/marketing/busifavor/coupons/{card_id}/send:
    $ref: ./spec/marketing/busifavor/coupons/{card_id}/send.yaml
  /v3/marketing/busifavor/coupons/associate:
    $ref: ./spec/marketing/busifavor/coupons/associate.yaml
  /v3/marketing/busifavor/coupons/disassociate:
    $ref: ./spec/marketing/busifavor/coupons/disassociate.yaml
  /v3/marketing/busifavor/coupons/use:
    $ref: ./spec/marketing/busifavor/coupons/use.yaml
  /v3/marketing/busifavor/stocks:
    $ref: ./spec/marketing/busifavor/stocks.yaml
  /v3/marketing/busifavor/stocks/{stock_id}:
    $ref: ./spec/marketing/busifavor/stocks/{stock_id}.yaml
  /v3/marketing/busifavor/stocks/{stock_id}/couponcodes:
    $ref: ./spec/marketing/busifavor/stocks/{stock_id}/couponcodes.yaml
  /v3/marketing/busifavor/users/{openid}/coupons:
    $ref: ./spec/marketing/busifavor/users/{openid}/coupons.yaml
  /v3/marketing/busifavor/users/{openid}/coupons/{coupon_code}/appids/{appid}:
    $ref: ./spec/marketing/busifavor/users/{openid}/coupons/{coupon_code}/appids/{appid}.yaml
  /v3/marketing/favor/callbacks:
    $ref: ./spec/marketing/favor/callbacks.yaml
  /v3/marketing/favor/coupon-stocks:
    $ref: ./spec/marketing/favor/coupon-stocks.yaml
  /v3/marketing/favor/media/image-upload:
    $ref: ./spec/marketing/favor/media/image-upload.yaml
  /v3/marketing/favor/stocks:
    $ref: ./spec/marketing/favor/stocks.yaml
  /v3/marketing/favor/stocks/{stock_id}:
    $ref: ./spec/marketing/favor/stocks/{stock_id}.yaml
  /v3/marketing/favor/stocks/{stock_id}/items:
    $ref: ./spec/marketing/favor/stocks/{stock_id}/items.yaml
  /v3/marketing/favor/stocks/{stock_id}/merchants:
    $ref: ./spec/marketing/favor/stocks/{stock_id}/merchants.yaml
  /v3/marketing/favor/stocks/{stock_id}/pause:
    $ref: ./spec/marketing/favor/stocks/{stock_id}/pause.yaml
  /v3/marketing/favor/stocks/{stock_id}/refund-flow:
    $ref: ./spec/marketing/favor/stocks/{stock_id}/refund-flow.yaml
  /v3/marketing/favor/stocks/{stock_id}/restart:
    $ref: ./spec/marketing/favor/stocks/{stock_id}/restart.yaml
  /v3/marketing/favor/stocks/{stock_id}/start:
    $ref: ./spec/marketing/favor/stocks/{stock_id}/start.yaml
  /v3/marketing/favor/stocks/{stock_id}/use-flow:
    $ref: ./spec/marketing/favor/stocks/{stock_id}/use-flow.yaml
  /v3/marketing/favor/users/{openid}/coupons:
    $ref: ./spec/marketing/favor/users/{openid}/coupons.yaml
  /v3/marketing/favor/users/{openid}/coupons/{coupon_id}:
    $ref: ./spec/marketing/favor/users/{openid}/coupons/{coupon_id}.yaml
  /v3/marketing/partnerships/build:
    $ref: ./spec/marketing/partnerships/build.yaml
  /v3/marketing/partnerships/terminate:
    $ref: ./spec/marketing/partnerships/terminate.yaml
  /v3/marketing/paygiftactivity/activities:
    $ref: ./spec/marketing/paygiftactivity/activities.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}:
    $ref: ./spec/marketing/paygiftactivity/activities/{activity_id}.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/goods:
    $ref: ./spec/marketing/paygiftactivity/activities/{activity_id}/goods.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/merchants:
    $ref: ./spec/marketing/paygiftactivity/activities/{activity_id}/merchants.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/merchants/add:
    $ref: ./spec/marketing/paygiftactivity/activities/{activity_id}/merchants/add.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/merchants/delete:
    $ref: ./spec/marketing/paygiftactivity/activities/{activity_id}/merchants/delete.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/terminate:
    $ref: ./spec/marketing/paygiftactivity/activities/{activity_id}/terminate.yaml
  /v3/marketing/paygiftactivity/unique-threshold-activity:
    $ref: ./spec/marketing/paygiftactivity/unique-threshold-activity.yaml
  /v3/merchant-service/complaint-notifications:
    $ref: ./spec/merchant-service/complaint-notifications.yaml
  /v3/merchant-service/complaints:
    $ref: ./spec/merchant-service/complaints.yaml
  /v3/merchant/media/upload:
    $ref: ./spec/merchant/media/upload.yaml
  /v3/merchant/media/video_upload:
    $ref: ./spec/merchant/media/video_upload.yaml
  /v3/payscore/serviceorder:
    $ref: ./spec/payscore/serviceorder.yaml
  /v3/payscore/serviceorder/{out_order_no}/cancel:
    $ref: ./spec/payscore/serviceorder/{out_order_no}/cancel.yaml
  /v3/payscore/serviceorder/{out_order_no}/complete:
    $ref: ./spec/payscore/serviceorder/{out_order_no}/complete.yaml
  /v3/payscore/serviceorder/{out_order_no}/modify:
    $ref: ./spec/payscore/serviceorder/{out_order_no}/modify.yaml
  /v3/payscore/serviceorder/{out_order_no}/pay:
    $ref: ./spec/payscore/serviceorder/{out_order_no}/pay.yaml
  /v3/payscore/serviceorder/{out_order_no}/sync:
    $ref: ./spec/payscore/serviceorder/{out_order_no}/sync.yaml
  /v3/payscore/serviceorder/direct-complete:
    $ref: ./spec/payscore/serviceorder/direct-complete.yaml
  /v3/payscore/user-service-state:
    $ref: ./spec/payscore/user-service-state.yaml
  /v3/payscore/users/{openid}/permissions/{service_id}/terminate:
    $ref: ./spec/payscore/users/{openid}/permissions/{service_id}/terminate.yaml
  /v3/smartguide/guides:
    $ref: ./spec/smartguide/guides.yaml
  /v3/smartguide/guides/{guide_id}:
    $ref: ./spec/smartguide/guides/{guide_id}.yaml
  /v3/smartguide/guides/{guide_id}/assign:
    $ref: ./spec/smartguide/guides/{guide_id}/assign.yaml
