swagger: '2.0'
host: api.mch.weixin.qq.com
basePath: ''
info:
  title: 微信支付OpenAPI文档
  description: "整理自[微信支付官方文档](https://pay.weixin.qq.com/wiki/doc/apiv3/wxpay/pages/Overview.shtml) 本[项目/工具](https://github.com/TheNorthMemory/wechatpay-openapi)有如下约定：

    1. 对于类型定义是 **string($MediaId)**， 需要用 */通用接口* 媒体(图片/视频)上传获取到返回值；

    2. 对于类型定义是 **string($MediaUrl)**，需要用 */运营工具/通用接口* 营销图片上传接口取得返回值；

    3. 对于类型定义是 **string($rfc3339)**，请使用时间带时区字符串；

    4. 对于类型定义是 **string($rfc2397)**，官方文档说是可直接用于img标签，不确定是否符合RFC2397规范；

    5. 对于类型定义是 **string($numeric)**，请留意其值传递实质是字符串类型，类型校对需要使用numeric校对；

    6. 对于类型定义是 **string($jsonArrayLike)**，请使用数组对象转字符串；

    7. 对于类型定义是 **string($date)**，请留意使用*东八区*日期格式；

    8. 对于类型定义是 **string($url)**，请使用以https开头的URL；

    9. 对于类型定义是 **number($uint64)**，请注意返回值JSON解码时，有可能整型溢出；

    10. 对于对象属性 **x-is-sensitive**，请根据场景需要，在请求体内需要 *rsa.encrypt*, 在返回体需要 *rsa.decrypt*；
"
  version: 0.0.2
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: 微信支付分
  - name: 微信支付分∙免确认模式
  - name: 微信支付分∙免确认模式∙普通授权
  - name: 微信支付分∙免确认模式∙预授权
  - name: 微信支付分∙先享卡
  - name: 基础支付∙普通支付∙直连模式
  - name: 基础支付∙普通支付∙服务商模式
  - name: 基础支付∙合单支付
  - name: 基础支付∙账单
  - name: 基础支付∙退款
  - name: 资金应用∙分账
  - name: 电商收付通∙商户进件
  - name: 电商收付通∙普通支付
  - name: 电商收付通∙合单支付
  - name: 电商收付通∙补差
  - name: 电商收付通∙分账
  - name: 电商收付通∙退款
  - name: 电商收付通∙余额查询
  - name: 电商收付通∙提现
  - name: 电商收付通∙账单
  - name: 商户进件∙特约商户进件
  - name: 商户进件∙通用接口
  - name: 会员卡
  - name: 会员卡∙基础功能
  - name: 会员卡∙运营投放
  - name: 会员卡∙权益设置
  - name: 会员卡∙会员有礼
  - name: 运营工具∙代金券
  - name: 运营工具∙商家券
  - name: 运营工具∙委托营销
  - name: 运营工具∙支付有礼
  - name: 运营工具∙消费卡
  - name: 运营工具∙通用接口
  - name: 经营工具∙智慧商圈
  - name: 经营工具∙支付即服务
  - name: 经营工具∙点金计划
  - name: 经营工具∙连锁品牌∙分账
  - name: 经营工具∙连锁品牌∙门店
  - name: 通用接口
  - name: 通用接口∙商业支付投诉
  - name: 支付∙付款码支付
  - name: 支付∙JSAPI支付
  - name: 支付∙Native支付
  - name: 支付∙App支付
  - name: 支付∙H5支付
  - name: 支付∙小程序支付
  - name: 支付∙人脸支付
  - name: 支付∙合单支付
  - name: 支付∙代金券或立减优惠
  - name: 支付∙现金红包
  - name: 支付∙企业付款
  - name: 支付∙酒店押金
  - name: 支付∙委托扣款
  - name: 支付∙服务商∙付款码支付
  - name: 支付∙服务商∙JSAPI支付
  - name: 支付∙服务商∙Native支付
  - name: 支付∙服务商∙App支付
  - name: 支付∙服务商∙H5支付
  - name: 支付∙服务商∙小程序支付
  - name: 支付∙服务商∙人脸支付
  - name: 支付∙服务商∙合单支付
  - name: 支付∙服务商∙现金红包
  - name: 支付∙服务商∙小微商户
  - name: 支付∙服务商∙分账
  - name: 支付∙银行服务商∙现金红包
  - name: 支付∙银行服务商∙企业付款
  - name: 支付∙银行服务商∙特约商户报备
  - name: 支付∙银行服务商∙特约商户配置
  - name: 支付∙银行服务商∙风控信息同步
paths:
  /v2/applyment/micro/getstate:
    $ref: ./v2/applyment/micro/getstate.yaml
  /v2/applyment/micro/getupgradestate:
    $ref: ./v2/applyment/micro/getupgradestate.yaml
  /v2/applyment/micro/modifyarchives:
    $ref: ./v2/applyment/micro/modifyarchives.yaml
  /v2/applyment/micro/modifycontactinfo:
    $ref: ./v2/applyment/micro/modifycontactinfo.yaml
  /v2/applyment/micro/submit:
    $ref: ./v2/applyment/micro/submit.yaml
  /v2/applyment/micro/submitupgrade:
    $ref: ./v2/applyment/micro/submitupgrade.yaml
  /v2/billcommentsp/batchquerycomment:
    $ref: ./v2/billcommentsp/batchquerycomment.yaml
  /v2/deposit/consume:
    $ref: ./v2/deposit/consume.yaml
  /v2/deposit/facepay:
    $ref: ./v2/deposit/facepay.yaml
  /v2/deposit/micropay:
    $ref: ./v2/deposit/micropay.yaml
  /v2/deposit/orderquery:
    $ref: ./v2/deposit/orderquery.yaml
  /v2/deposit/refund:
    $ref: ./v2/deposit/refund.yaml
  /v2/deposit/refundquery:
    $ref: ./v2/deposit/refundquery.yaml
  /v2/deposit/reverse:
    $ref: ./v2/deposit/reverse.yaml
  /v2/fund/queryautowithdrawbydate:
    $ref: ./v2/fund/queryautowithdrawbydate.yaml
  /v2/fund/reautowithdrawbydate:
    $ref: ./v2/fund/reautowithdrawbydate.yaml
  /v2/mchrisk/bankquerymchauditinfo:
    $ref: ./v2/mchrisk/bankquerymchauditinfo.yaml
  /v2/mchrisk/channelquerymchauditinfo:
    $ref: ./v2/mchrisk/channelquerymchauditinfo.yaml
  /v2/mchrisk/querymchrisk:
    $ref: ./v2/mchrisk/querymchrisk.yaml
  /v2/mchrisk/setmchriskcallback:
    $ref: ./v2/mchrisk/setmchriskcallback.yaml
  /v2/mchrisk/syncmchriskresult:
    $ref: ./v2/mchrisk/syncmchriskresult.yaml
  /v2/mmpaymkttransfers/gethbinfo:
    $ref: ./v2/mmpaymkttransfers/gethbinfo.yaml
  /v2/mmpaymkttransfers/gettransferinfo:
    $ref: ./v2/mmpaymkttransfers/gettransferinfo.yaml
  /v2/mmpaymkttransfers/pay_bank:
    $ref: ./v2/mmpaymkttransfers/pay_bank.yaml
  /v2/mmpaymkttransfers/promotion/transfers:
    $ref: ./v2/mmpaymkttransfers/promotion/transfers.yaml
  /v2/mmpaymkttransfers/query_bank:
    $ref: ./v2/mmpaymkttransfers/query_bank.yaml
  /v2/mmpaymkttransfers/query_coupon_stock:
    $ref: ./v2/mmpaymkttransfers/query_coupon_stock.yaml
  /v2/mmpaymkttransfers/querycouponsinfo:
    $ref: ./v2/mmpaymkttransfers/querycouponsinfo.yaml
  /v2/mmpaymkttransfers/send_coupon:
    $ref: ./v2/mmpaymkttransfers/send_coupon.yaml
  /v2/mmpaymkttransfers/sendgroupredpack:
    $ref: ./v2/mmpaymkttransfers/sendgroupredpack.yaml
  /v2/mmpaymkttransfers/sendredpack:
    $ref: ./v2/mmpaymkttransfers/sendredpack.yaml
  /v2/papay/deletecontract:
    $ref: ./v2/papay/deletecontract.yaml
  /v2/papay/entrustweb:
    $ref: ./v2/papay/entrustweb.yaml
  /v2/papay/h5entrustweb:
    $ref: ./v2/papay/h5entrustweb.yaml
  /v2/papay/querycontract:
    $ref: ./v2/papay/querycontract.yaml
  /v2/pay/closecombinedorder:
    $ref: ./v2/pay/closecombinedorder.yaml
  /v2/pay/closeorder:
    $ref: ./v2/pay/closeorder.yaml
  /v2/pay/combinedorder:
    $ref: ./v2/pay/combinedorder.yaml
  /v2/pay/contractorder:
    $ref: ./v2/pay/contractorder.yaml
  /v2/pay/downloadbill:
    $ref: ./v2/pay/downloadbill.yaml
  /v2/pay/downloadfundflow:
    $ref: ./v2/pay/downloadfundflow.yaml
  /v2/pay/facepay:
    $ref: ./v2/pay/facepay.yaml
  /v2/pay/facepayquery:
    $ref: ./v2/pay/facepayquery.yaml
  /v2/pay/micropay:
    $ref: ./v2/pay/micropay.yaml
  /v2/pay/orderquery:
    $ref: ./v2/pay/orderquery.yaml
  /v2/pay/paporderquery:
    $ref: ./v2/pay/paporderquery.yaml
  /v2/pay/partner/pappayapply:
    $ref: ./v2/pay/partner/pappayapply.yaml
  /v2/pay/profitsharingaddreceiver:
    $ref: ./v2/pay/profitsharingaddreceiver.yaml
  /v2/pay/profitsharingquery:
    $ref: ./v2/pay/profitsharingquery.yaml
  /v2/pay/profitsharingremovereceiver:
    $ref: ./v2/pay/profitsharingremovereceiver.yaml
  /v2/pay/querycombinedorder:
    $ref: ./v2/pay/querycombinedorder.yaml
  /v2/pay/refundquery:
    $ref: ./v2/pay/refundquery.yaml
  /v2/pay/unifiedorder:
    $ref: ./v2/pay/unifiedorder.yaml
  /v2/payitil/report:
    $ref: ./v2/payitil/report.yaml
  /v2/risk/getviolation:
    $ref: ./v2/risk/getviolation.yaml
  /v2/secapi/mch/addsubdevconfig:
    $ref: ./v2/secapi/mch/addsubdevconfig.yaml
  /v2/secapi/mch/modifymchinfo:
    $ref: ./v2/secapi/mch/modifymchinfo.yaml
  /v2/secapi/mch/querysubdevconfig:
    $ref: ./v2/secapi/mch/querysubdevconfig.yaml
  /v2/secapi/mch/submchmanage:
    $ref: ./v2/secapi/mch/submchmanage.yaml
  /v2/secapi/mch/uploadmedia:
    $ref: ./v2/secapi/mch/uploadmedia.yaml
  /v2/secapi/mkt/addrecommendconf:
    $ref: ./v2/secapi/mkt/addrecommendconf.yaml
  /v2/secapi/pay/facepayreverse:
    $ref: ./v2/secapi/pay/facepayreverse.yaml
  /v2/secapi/pay/multiprofitsharing:
    $ref: ./v2/secapi/pay/multiprofitsharing.yaml
  /v2/secapi/pay/profitsharing:
    $ref: ./v2/secapi/pay/profitsharing.yaml
  /v2/secapi/pay/profitsharingfinish:
    $ref: ./v2/secapi/pay/profitsharingfinish.yaml
  /v2/secapi/pay/refund:
    $ref: ./v2/secapi/pay/refund.yaml
  /v2/secapi/pay/reverse:
    $ref: ./v2/secapi/pay/reverse.yaml
  /v2/tools/authcodetoopenid:
    $ref: ./v2/tools/authcodetoopenid.yaml
  /v2/tools/shorturl:
    $ref: ./v2/tools/shorturl.yaml
  /v3/-notify:
    $ref: ./v3/-notify.yaml
  /v3/apply4sub/sub_merchants/{sub_mchid}/modify-settlement:
    $ref: ./v3/apply4sub/sub_merchants/{sub_mchid}/modify-settlement.yaml
  /v3/apply4sub/sub_merchants/{sub_mchid}/settlement:
    $ref: ./v3/apply4sub/sub_merchants/{sub_mchid}/settlement.yaml
  /v3/apply4subject/applyment:
    $ref: ./v3/apply4subject/applyment.yaml
  /v3/apply4subject/applyment/{applyment_id}/cancel:
    $ref: ./v3/apply4subject/applyment/{applyment_id}/cancel.yaml
  /v3/apply4subject/applyment/{business_code}/cancel:
    $ref: ./v3/apply4subject/applyment/{business_code}/cancel.yaml
  /v3/apply4subject/applyment/merchants/{sub_mchid}/state:
    $ref: ./v3/apply4subject/applyment/merchants/{sub_mchid}/state.yaml
  /v3/applyment4sub/applyment/applyment_id/{applyment_id}:
    $ref: ./v3/applyment4sub/applyment/applyment_id/{applyment_id}.yaml
  /v3/applyment4sub/applyment/business_code/{business_code}:
    $ref: ./v3/applyment4sub/applyment/business_code/{business_code}.yaml
  /v3/applyment4sub/applyment/:
    $ref: ./v3/applyment4sub/applyment/stub.yaml
  /v3/bill/fundflowbill:
    $ref: ./v3/bill/fundflowbill.yaml
  /v3/bill/tradebill:
    $ref: ./v3/bill/tradebill.yaml
  /v3/billdownload/file:
    $ref: ./v3/billdownload/file.yaml
  /v3/brand/profitsharing/finish-order:
    $ref: ./v3/brand/profitsharing/finish-order.yaml
  /v3/brand/profitsharing/orders:
    $ref: ./v3/brand/profitsharing/orders.yaml
  /v3/brand/profitsharing/receivers/add:
    $ref: ./v3/brand/profitsharing/receivers/add.yaml
  /v3/brand/profitsharing/receivers/delete:
    $ref: ./v3/brand/profitsharing/receivers/delete.yaml
  /v3/brand/profitsharing/returnorders:
    $ref: ./v3/brand/profitsharing/returnorders.yaml
  /v3/businesscircle/points/notify:
    $ref: ./v3/businesscircle/points/notify.yaml
  /v3/businesscircle/user-authorizations/{openid}:
    $ref: ./v3/businesscircle/user-authorizations/{openid}.yaml
  /v3/certificates:
    $ref: ./v3/certificates.yaml
  /v3/combine-transactions/app:
    $ref: ./v3/combine-transactions/app.yaml
  /v3/combine-transactions/h5:
    $ref: ./v3/combine-transactions/h5.yaml
  /v3/combine-transactions/jsapi:
    $ref: ./v3/combine-transactions/jsapi.yaml
  /v3/combine-transactions/native:
    $ref: ./v3/combine-transactions/native.yaml
  /v3/combine-transactions/out-trade-no/{combine_out_trade_no}:
    $ref: ./v3/combine-transactions/out-trade-no/{combine_out_trade_no}.yaml
  /v3/combine-transactions/out-trade-no/{combine_out_trade_no}/close:
    $ref: ./v3/combine-transactions/out-trade-no/{combine_out_trade_no}/close.yaml
  /v3/discount-card/cards:
    $ref: ./v3/discount-card/cards.yaml
  /v3/discount-card/cards/{out_card_code}:
    $ref: ./v3/discount-card/cards/{out_card_code}.yaml
  /v3/discount-card/cards/{out_card_code}/add-user-records:
    $ref: ./v3/discount-card/cards/{out_card_code}/add-user-records.yaml
  /v3/discount-card/orders/{out_order_no}:
    $ref: ./v3/discount-card/orders/{out_order_no}.yaml
  /v3/discount-card/orders/out-trade-no/{out_trade_no}:
    $ref: ./v3/discount-card/orders/out-trade-no/{out_trade_no}.yaml
  /v3/ecommerce/applyments/{applyment_id}:
    $ref: ./v3/ecommerce/applyments/{applyment_id}.yaml
  /v3/ecommerce/applyments/out-request-no/{out_request_no}:
    $ref: ./v3/ecommerce/applyments/out-request-no/{out_request_no}.yaml
  /v3/ecommerce/applyments/:
    $ref: ./v3/ecommerce/applyments/stub.yaml
  /v3/ecommerce/bill/fundflowbill:
    $ref: ./v3/ecommerce/bill/fundflowbill.yaml
  /v3/ecommerce/fund/balance/{sub_mchid}:
    $ref: ./v3/ecommerce/fund/balance/{sub_mchid}.yaml
  /v3/ecommerce/fund/enddaybalance/{sub_mchid}:
    $ref: ./v3/ecommerce/fund/enddaybalance/{sub_mchid}.yaml
  /v3/ecommerce/fund/withdraw:
    $ref: ./v3/ecommerce/fund/withdraw.yaml
  /v3/ecommerce/fund/withdraw/{withdraw_id}:
    $ref: ./v3/ecommerce/fund/withdraw/{withdraw_id}.yaml
  /v3/ecommerce/fund/withdraw/out-request-no/{out_request_no}:
    $ref: ./v3/ecommerce/fund/withdraw/out-request-no/{out_request_no}.yaml
  /v3/ecommerce/profitsharing/finish-order:
    $ref: ./v3/ecommerce/profitsharing/finish-order.yaml
  /v3/ecommerce/profitsharing/orders:
    $ref: ./v3/ecommerce/profitsharing/orders.yaml
  /v3/ecommerce/profitsharing/receivers/add:
    $ref: ./v3/ecommerce/profitsharing/receivers/add.yaml
  /v3/ecommerce/profitsharing/receivers/delete:
    $ref: ./v3/ecommerce/profitsharing/receivers/delete.yaml
  /v3/ecommerce/profitsharing/returnorders:
    $ref: ./v3/ecommerce/profitsharing/returnorders.yaml
  /v3/ecommerce/refunds/apply:
    $ref: ./v3/ecommerce/refunds/apply.yaml
  /v3/ecommerce/refunds/id/{refund_id}:
    $ref: ./v3/ecommerce/refunds/id/{refund_id}.yaml
  /v3/ecommerce/refunds/out-refund-no/{out_refund_no}:
    $ref: ./v3/ecommerce/refunds/out-refund-no/{out_refund_no}.yaml
  /v3/ecommerce/subsidies/cancel:
    $ref: ./v3/ecommerce/subsidies/cancel.yaml
  /v3/ecommerce/subsidies/create:
    $ref: ./v3/ecommerce/subsidies/create.yaml
  /v3/ecommerce/subsidies/return:
    $ref: ./v3/ecommerce/subsidies/return.yaml
  /v3/goldplan/merchants/changecustompagestatus:
    $ref: ./v3/goldplan/merchants/changecustompagestatus.yaml
  /v3/goldplan/merchants/changegoldplanstatus:
    $ref: ./v3/goldplan/merchants/changegoldplanstatus.yaml
  /v3/goldplan/merchants/set-advertising-industry-filter:
    $ref: ./v3/goldplan/merchants/set-advertising-industry-filter.yaml
  /v3/marketing/busifavor/callbacks:
    $ref: ./v3/marketing/busifavor/callbacks.yaml
  /v3/marketing/busifavor/coupons/{card_id}/send:
    $ref: ./v3/marketing/busifavor/coupons/{card_id}/send.yaml
  /v3/marketing/busifavor/coupons/associate:
    $ref: ./v3/marketing/busifavor/coupons/associate.yaml
  /v3/marketing/busifavor/coupons/deactivate:
    $ref: ./v3/marketing/busifavor/coupons/deactivate.yaml
  /v3/marketing/busifavor/coupons/disassociate:
    $ref: ./v3/marketing/busifavor/coupons/disassociate.yaml
  /v3/marketing/busifavor/coupons/return:
    $ref: ./v3/marketing/busifavor/coupons/return.yaml
  /v3/marketing/busifavor/coupons/use:
    $ref: ./v3/marketing/busifavor/coupons/use.yaml
  /v3/marketing/busifavor/stocks:
    $ref: ./v3/marketing/busifavor/stocks.yaml
  /v3/marketing/busifavor/stocks/{stock_id}:
    $ref: ./v3/marketing/busifavor/stocks/{stock_id}.yaml
  /v3/marketing/busifavor/stocks/{stock_id}/budget:
    $ref: ./v3/marketing/busifavor/stocks/{stock_id}/budget.yaml
  /v3/marketing/busifavor/stocks/{stock_id}/couponcodes:
    $ref: ./v3/marketing/busifavor/stocks/{stock_id}/couponcodes.yaml
  /v3/marketing/busifavor/subsidy/pay-receipts:
    $ref: ./v3/marketing/busifavor/subsidy/pay-receipts.yaml
  /v3/marketing/busifavor/users/{openid}/coupons:
    $ref: ./v3/marketing/busifavor/users/{openid}/coupons.yaml
  /v3/marketing/busifavor/users/{openid}/coupons/{coupon_code}/appids/{appid}:
    $ref: ./v3/marketing/busifavor/users/{openid}/coupons/{coupon_code}/appids/{appid}.yaml
  /v3/marketing/favor/callbacks:
    $ref: ./v3/marketing/favor/callbacks.yaml
  /v3/marketing/favor/coupon-stocks:
    $ref: ./v3/marketing/favor/coupon-stocks.yaml
  /v3/marketing/favor/media/image-upload:
    $ref: ./v3/marketing/favor/media/image-upload.yaml
  /v3/marketing/favor/stocks:
    $ref: ./v3/marketing/favor/stocks.yaml
  /v3/marketing/favor/stocks/{stock_id}:
    $ref: ./v3/marketing/favor/stocks/{stock_id}.yaml
  /v3/marketing/favor/stocks/{stock_id}/items:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/items.yaml
  /v3/marketing/favor/stocks/{stock_id}/merchants:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/merchants.yaml
  /v3/marketing/favor/stocks/{stock_id}/pause:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/pause.yaml
  /v3/marketing/favor/stocks/{stock_id}/refund-flow:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/refund-flow.yaml
  /v3/marketing/favor/stocks/{stock_id}/restart:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/restart.yaml
  /v3/marketing/favor/stocks/{stock_id}/start:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/start.yaml
  /v3/marketing/favor/stocks/{stock_id}/use-flow:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/use-flow.yaml
  /v3/marketing/favor/users/{openid}/coupons:
    $ref: ./v3/marketing/favor/users/{openid}/coupons.yaml
  /v3/marketing/favor/users/{openid}/coupons/{coupon_id}:
    $ref: ./v3/marketing/favor/users/{openid}/coupons/{coupon_id}.yaml
  /v3/marketing/membercard-activity/activities:
    $ref: ./v3/marketing/membercard-activity/activities.yaml
  /v3/marketing/membercard-activity/activities/{activity_id}:
    $ref: ./v3/marketing/membercard-activity/activities/{activity_id}.yaml
  /v3/marketing/membercard-activity/activities/{activity_id}/terminate:
    $ref: ./v3/marketing/membercard-activity/activities/{activity_id}/terminate.yaml
  /v3/marketing/membercard-open/activate-informations/{activate_ticket}:
    $ref: ./v3/marketing/membercard-open/activate-informations/{activate_ticket}.yaml
  /v3/marketing/membercard-open/callback:
    $ref: ./v3/marketing/membercard-open/callback.yaml
  /v3/marketing/membercard-open/cards:
    $ref: ./v3/marketing/membercard-open/cards.yaml
  /v3/marketing/membercard-open/cards/{card_id}:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}.yaml
  /v3/marketing/membercard-open/cards/{card_id}/codes/{code}:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/codes/{code}.yaml
  /v3/marketing/membercard-open/cards/{card_id}/codes/{code}/activate:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/codes/{code}/activate.yaml
  /v3/marketing/membercard-open/cards/{card_id}/codes/{code}/rights:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/codes/{code}/rights.yaml
  /v3/marketing/membercard-open/cards/{card_id}/codes/{code}/unavailable:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/codes/{code}/unavailable.yaml
  /v3/marketing/membercard-open/cards/{card_id}/codes/deposit:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/codes/deposit.yaml
  /v3/marketing/membercard-open/cards/{card_id}/decrypt-code:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/decrypt-code.yaml
  /v3/marketing/membercard-open/cards/{card_id}/qrcode:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/qrcode.yaml
  /v3/marketing/membercard-open/cards/{card_id}/rights:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/rights.yaml
  /v3/marketing/membercard-open/cards/{card_id}/upgrade:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/upgrade.yaml
  /v3/marketing/membercard-open/phonenumber-member/import:
    $ref: ./v3/marketing/membercard-open/phonenumber-member/import.yaml
  /v3/marketing/membercard-open/phonenumber-member/search:
    $ref: ./v3/marketing/membercard-open/phonenumber-member/search.yaml
  /v3/marketing/membercard-open/user/cards:
    $ref: ./v3/marketing/membercard-open/user/cards.yaml
  /v3/marketing/partnerships:
    $ref: ./v3/marketing/partnerships.yaml
  /v3/marketing/partnerships/build:
    $ref: ./v3/marketing/partnerships/build.yaml
  /v3/marketing/partnerships/terminate:
    $ref: ./v3/marketing/partnerships/terminate.yaml
  /v3/marketing/paygiftactivity/activities:
    $ref: ./v3/marketing/paygiftactivity/activities.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}:
    $ref: ./v3/marketing/paygiftactivity/activities/{activity_id}.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/goods:
    $ref: ./v3/marketing/paygiftactivity/activities/{activity_id}/goods.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/merchants:
    $ref: ./v3/marketing/paygiftactivity/activities/{activity_id}/merchants.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/merchants/add:
    $ref: ./v3/marketing/paygiftactivity/activities/{activity_id}/merchants/add.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/merchants/delete:
    $ref: ./v3/marketing/paygiftactivity/activities/{activity_id}/merchants/delete.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/terminate:
    $ref: ./v3/marketing/paygiftactivity/activities/{activity_id}/terminate.yaml
  /v3/marketing/paygiftactivity/unique-threshold-activity:
    $ref: ./v3/marketing/paygiftactivity/unique-threshold-activity.yaml
  /v3/merchant-service/complaint-notifications:
    $ref: ./v3/merchant-service/complaint-notifications.yaml
  /v3/merchant-service/complaints-v2:
    $ref: ./v3/merchant-service/complaints-v2.yaml
  /v3/merchant-service/complaints-v2/{complaint_id}:
    $ref: ./v3/merchant-service/complaints-v2/{complaint_id}.yaml
  /v3/merchant-service/complaints-v2/{complaint_id}/complete:
    $ref: ./v3/merchant-service/complaints-v2/{complaint_id}/complete.yaml
  /v3/merchant-service/complaints-v2/{complaint_id}/negotiation-historys:
    $ref: ./v3/merchant-service/complaints-v2/{complaint_id}/negotiation-historys.yaml
  /v3/merchant-service/complaints-v2/{complaint_id}/response:
    $ref: ./v3/merchant-service/complaints-v2/{complaint_id}/response.yaml
  /v3/merchant-service/complaints:
    $ref: ./v3/merchant-service/complaints.yaml
  /v3/merchant-service/complaints/{transaction_id}:
    $ref: ./v3/merchant-service/complaints/{transaction_id}.yaml
  /v3/merchant-service/complaints/{transaction_id}/negotiation-historys:
    $ref: ./v3/merchant-service/complaints/{transaction_id}/negotiation-historys.yaml
  /v3/merchant-service/feedbacks:
    $ref: ./v3/merchant-service/feedbacks.yaml
  /v3/merchant-service/images/upload:
    $ref: ./v3/merchant-service/images/upload.yaml
  /v3/merchant-store/stores:
    $ref: ./v3/merchant-store/stores.yaml
  /v3/merchant-store/stores/{store_id}:
    $ref: ./v3/merchant-store/stores/{store_id}.yaml
  /v3/merchant/fund/balance/{account_type}:
    $ref: ./v3/merchant/fund/balance/{account_type}.yaml
  /v3/merchant/fund/dayendbalance/{account_type}:
    $ref: ./v3/merchant/fund/dayendbalance/{account_type}.yaml
  /v3/merchant/fund/withdraw:
    $ref: ./v3/merchant/fund/withdraw.yaml
  /v3/merchant/fund/withdraw/bill-type/{bill_type}:
    $ref: ./v3/merchant/fund/withdraw/bill-type/{bill_type}.yaml
  /v3/merchant/fund/withdraw/out-request-no/{out_request_no}:
    $ref: ./v3/merchant/fund/withdraw/out-request-no/{out_request_no}.yaml
  /v3/merchant/fund/withdraw/withdraw-id/{withdraw_id}:
    $ref: ./v3/merchant/fund/withdraw/withdraw-id/{withdraw_id}.yaml
  /v3/merchant/media/upload:
    $ref: ./v3/merchant/media/upload.yaml
  /v3/merchant/media/video_upload:
    $ref: ./v3/merchant/media/video_upload.yaml
  /v3/pay/partner/transactions/app:
    $ref: ./v3/pay/partner/transactions/app.yaml
  /v3/pay/partner/transactions/h5:
    $ref: ./v3/pay/partner/transactions/h5.yaml
  /v3/pay/partner/transactions/id/{transaction_id}:
    $ref: ./v3/pay/partner/transactions/id/{transaction_id}.yaml
  /v3/pay/partner/transactions/jsapi:
    $ref: ./v3/pay/partner/transactions/jsapi.yaml
  /v3/pay/partner/transactions/native:
    $ref: ./v3/pay/partner/transactions/native.yaml
  /v3/pay/partner/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/pay/partner/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/pay/partner/transactions/out-trade-no/{out_trade_no}/close:
    $ref: ./v3/pay/partner/transactions/out-trade-no/{out_trade_no}/close.yaml
  /v3/pay/transactions/app:
    $ref: ./v3/pay/transactions/app.yaml
  /v3/pay/transactions/h5:
    $ref: ./v3/pay/transactions/h5.yaml
  /v3/pay/transactions/id/{transaction_id}:
    $ref: ./v3/pay/transactions/id/{transaction_id}.yaml
  /v3/pay/transactions/jsapi:
    $ref: ./v3/pay/transactions/jsapi.yaml
  /v3/pay/transactions/native:
    $ref: ./v3/pay/transactions/native.yaml
  /v3/pay/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/pay/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/pay/transactions/out-trade-no/{out_trade_no}/close:
    $ref: ./v3/pay/transactions/out-trade-no/{out_trade_no}/close.yaml
  /v3/payscore/permissions:
    $ref: ./v3/payscore/permissions.yaml
  /v3/payscore/permissions/authorization-code/{authorization_code}:
    $ref: ./v3/payscore/permissions/authorization-code/{authorization_code}.yaml
  /v3/payscore/permissions/authorization-code/{authorization_code}/terminate:
    $ref: ./v3/payscore/permissions/authorization-code/{authorization_code}/terminate.yaml
  /v3/payscore/permissions/openid/{openid}:
    $ref: ./v3/payscore/permissions/openid/{openid}.yaml
  /v3/payscore/permissions/openid/{openid}/terminate:
    $ref: ./v3/payscore/permissions/openid/{openid}/terminate.yaml
  /v3/payscore/serviceorder:
    $ref: ./v3/payscore/serviceorder.yaml
  /v3/payscore/serviceorder/{out_order_no}/cancel:
    $ref: ./v3/payscore/serviceorder/{out_order_no}/cancel.yaml
  /v3/payscore/serviceorder/{out_order_no}/complete:
    $ref: ./v3/payscore/serviceorder/{out_order_no}/complete.yaml
  /v3/payscore/serviceorder/{out_order_no}/modify:
    $ref: ./v3/payscore/serviceorder/{out_order_no}/modify.yaml
  /v3/payscore/serviceorder/{out_order_no}/pay:
    $ref: ./v3/payscore/serviceorder/{out_order_no}/pay.yaml
  /v3/payscore/serviceorder/{out_order_no}/sync:
    $ref: ./v3/payscore/serviceorder/{out_order_no}/sync.yaml
  /v3/payscore/serviceorder/direct-complete:
    $ref: ./v3/payscore/serviceorder/direct-complete.yaml
  /v3/payscore/user-service-state:
    $ref: ./v3/payscore/user-service-state.yaml
  /v3/payscore/users/{openid}/permissions/{service_id}/terminate:
    $ref: ./v3/payscore/users/{openid}/permissions/{service_id}/terminate.yaml
  /v3/profitsharing/merchant-configs/{sub_mchid}:
    $ref: ./v3/profitsharing/merchant-configs/{sub_mchid}.yaml
  /v3/profitsharing/orders:
    $ref: ./v3/profitsharing/orders.yaml
  /v3/profitsharing/orders/{out_order_no}:
    $ref: ./v3/profitsharing/orders/{out_order_no}.yaml
  /v3/profitsharing/orders/unfreeze:
    $ref: ./v3/profitsharing/orders/unfreeze.yaml
  /v3/profitsharing/receivers/add:
    $ref: ./v3/profitsharing/receivers/add.yaml
  /v3/profitsharing/receivers/delete:
    $ref: ./v3/profitsharing/receivers/delete.yaml
  /v3/profitsharing/return-orders:
    $ref: ./v3/profitsharing/return-orders.yaml
  /v3/profitsharing/return-orders/{out_return_no}:
    $ref: ./v3/profitsharing/return-orders/{out_return_no}.yaml
  /v3/profitsharing/transactions/{transaction_id}/amounts:
    $ref: ./v3/profitsharing/transactions/{transaction_id}/amounts.yaml
  /v3/refund/domestic/refunds:
    $ref: ./v3/refund/domestic/refunds.yaml
  /v3/refund/domestic/refunds/{out_refund_no}:
    $ref: ./v3/refund/domestic/refunds/{out_refund_no}.yaml
  /v3/smartguide/guides:
    $ref: ./v3/smartguide/guides.yaml
  /v3/smartguide/guides/{guide_id}:
    $ref: ./v3/smartguide/guides/{guide_id}.yaml
  /v3/smartguide/guides/{guide_id}/assign:
    $ref: ./v3/smartguide/guides/{guide_id}/assign.yaml
