post:
  x-last-updated-at: 2020-06-29
  x-role:
    - 服务商
  tags:
    - 支付分∙服务商模式
  summary: 收付通子商户申请绑定支付分服务
  description: 已接入收付通的商户，在已完成支付分权限开通及服务入驻后，可通过该能力为关联的子商户完成与支付分服务的绑定 [官方文档](https://pay.weixin.qq.com/wiki/doc/apiv3_partner/Offline/apis/chapter6_2_13.shtml)
  parameters:
    - name: _
      in: body
      required: true
      schema:
        type: object
        required:
          - service_id
          - appid
          - sub_mchid
          - out_apply_no
        properties:
          service_id:
            type: string
            description: 服务ID
            example: '2002000000000558128851361561536'
          appid:
            type: string
            description: 服务商应用ID
            example: wxd678efh567hg6787
          sub_mchid:
            type: string
            description: 子商户商户号
            example: '1900000109'
          sub_appid:
            type: string
            description: 子商户应用ID
            example: wxd678efh567hg6787
          out_apply_no:
            type: string
            description: 商户申请绑定单号
            example: 1234323JKHDFE1243252
          result_notify_url:
            type: string
            description: 绑定结果回调通知地址
            example: https://api.test.com
  responses:
    '200':
      schema:
        type: object
        required:
          - service_id
          - mchid
          - appid
          - sub_mchid
          - out_apply_no
          - apply_state
        properties:
          service_id:
            type: string
            description: 服务ID
            example: '2002000000000558128851361561536'
          mchid:
            type: string
            description: 服务商商户号
            example: '1900000104'
          appid:
            type: string
            description: 服务商应用ID
            example: wxd678efh567hg6787
          sub_mchid:
            type: string
            description: 子商户商户号
            example: '1900000109'
          sub_appid:
            type: string
            description: 子商户应用ID
            example: wxd678efh567hg6787
          out_apply_no:
            type: string
            description: 申请单号
            example: 1234323JKHDFE1243252
          result_notify_url:
            type: string
            description: 绑定结果回调通知地址
            example: https://api.test.com
          apply_state:
            type: string
            description: 受理状态
            example: APPROVED
          reject_reason:
            type: string
            description: 拒绝原因
            example: 账户异常，绑定失败
