swagger: '2.0'
host: api.mch.weixin.qq.com
basePath: ''
info:
  title: 微信支付OpenAPI文档
  description: >
    整理自[官方文档中心](https://pay.weixin.qq.com/wiki/doc/apiv3/index.shtml)
    本[项目/工具地址](https://github.com/TheNorthMemory/wechatpay-openapi)
    **访问第一次加载比较慢，请耐心等待大约1-2分钟不等(小文件下载比较多)。**
  version: 1.1.4
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: 基础支付
  - name: 基础支付∙服务商模式
  - name: 基础支付∙合单
  - name: 基础支付∙账单
  - name: 基础支付∙退款
  - name: 刷脸支付
  - name: 免密支付
  - name: 资金应用∙分账
  - name: 资金应用∙转账
  - name: 资金应用∙转账∙用户确认模式
  - name: 资金应用∙转账∙服务商模式
  - name: 资金应用∙转账∙银行模式
  - name: 收付通∙进件
  - name: 收付通∙注销
  - name: 收付通∙支付
  - name: 收付通∙合单
  - name: 收付通∙合单代扣
  - name: 收付通∙个人收款
  - name: 收付通∙补差
  - name: 收付通∙分账
  - name: 收付通∙转账
  - name: 收付通∙退款
  - name: 收付通∙充值
  - name: 收付通∙余额
  - name: 收付通∙提现
  - name: 收付通∙赔付
  - name: 收付通∙账单
  - name: 收付通∙跨境
  - name: 平台保证金∙赔付用户
  - name: 平台保证金∙赔付商户
  - name: 平台保证金∙赔付用户运费
  - name: 服务商∙进件
  - name: 会员卡
  - name: 会员卡∙基础功能
  - name: 会员卡∙运营投放
  - name: 会员卡∙权益设置
  - name: 会员卡∙会员有礼
  - name: 支付分
  - name: 支付分∙免确认模式
  - name: 支付分∙免确认模式∙普通授权
  - name: 支付分∙免确认模式∙预授权
  - name: 支付分∙签约计划
  - name: 支付分∙先享卡
  - name: 支付分∙先用后付
  - name: 支付分∙先享后付
  - name: 支付分∙智慧零售
  - name: 支付分∙停车服务
  - name: 支付分∙服务商模式
  - name: 支付分∙服务商模式∙免确认
  - name: 支付分∙机构模式
  - name: 微信寄快递
  - name: 品牌小店营销
  - name: 委托代扣
  - name: 委托代扣∙保险业
  - name: 校园轻松付
  - name: 教育续费通
  - name: 学生卡身份权益
  - name: 爱心餐
  - name: 乘车服务
  - name: ETC授权扣费
  - name: 电动自行车行业代扣
  - name: 出租车电子发票
  - name: 租用充电宝∙隔夜归还
  - name: 运营工具∙代金券
  - name: 运营工具∙消费金
  - name: 运营工具∙商家券
  - name: 运营工具∙委托营销
  - name: 运营工具∙支付有礼
  - name: 运营工具∙消费卡
  - name: 运营工具∙用工卡
  - name: 运营工具∙通用接口
  - name: 经营工具∙智慧商圈
  - name: 经营工具∙支付即服务
  - name: 经营工具∙点金计划
  - name: 经营工具∙连锁品牌∙分账
  - name: 经营工具∙连锁品牌∙门店
  - name: 经营工具∙微信点餐
  - name: 经营工具∙电子发票
  - name: 经营工具∙电子小票
  - name: 经营工具∙小票机
  - name: 营销工具∙收款有礼
  - name: 营销工具∙代扣切卡
  - name: 营销工具∙周周惠
  - name: 商家充值
  - name: 结算规则管理
  - name: 风险管理
  - name: 风险合规∙消费者投诉
  - name: 风险合规∙商户违规通知
  - name: 风险合规∙开户意愿确认
  - name: 风险合规∙不活跃商户身份核实
  - name: 通用接口
  - name: 跨境
  - name: 跨境∙进件
  - name: 跨境∙报关
  - name: 跨境∙支付
  - name: 跨境∙退款
  - name: 跨境∙分账
  - name: 跨境∙代扣
  - name: 跨境∙H5权限
  - name: 沙箱环境
  - name: APIv2∙人脸支付
  - name: APIv2∙基础支付
  - name: APIv2∙基础支付∙合单
  - name: APIv2∙基础支付∙账单
  - name: APIv2∙基础支付∙退款
  - name: APIv2∙资金应用∙分账
  - name: APIv2∙资金应用∙红包
  - name: APIv2∙资金应用∙付款
  - name: APIv2∙车主平台
  - name: APIv2∙免押租借
  - name: APIv2∙免押速住
  - name: APIv2∙酒店押金
  - name: APIv2∙委托扣款
  - name: APIv2∙代金券
  - name: APIv2∙小微
  - name: APIv2∙风控
  - name: APIv2∙报关
  - name: APIv2∙通用
  - name: APIv2∙企微∙红包
  - name: APIv2∙企微∙付款
paths:
  /global/v3/customs/orders:
    $ref: ./global/v3/customs/orders.yaml
  /global/v3/customs/redeclare:
    $ref: ./global/v3/customs/redeclare.yaml
  /global/v3/customs/verify-certificate:
    $ref: ./global/v3/customs/verify-certificate.yaml
  /hk/v3/certificates:
    $ref: ./hk/v3/certificates.yaml
  /hk/v3/merchants:
    $ref: ./hk/v3/merchants.yaml
  /hk/v3/merchants/{sub_mchid}:
    $ref: ./hk/v3/merchants/{sub_mchid}.yaml
  /hk/v3/refunds:
    $ref: ./hk/v3/refunds.yaml
  /hk/v3/refunds/id/{refund_id}:
    $ref: ./hk/v3/refunds/id/{refund_id}.yaml
  /hk/v3/refunds/out-refund-no/{out_refund_no}:
    $ref: ./hk/v3/refunds/out-refund-no/{out_refund_no}.yaml
  /hk/v3/settle/settlements:
    $ref: ./hk/v3/settle/settlements.yaml
  /hk/v3/statements:
    $ref: ./hk/v3/statements.yaml
  /hk/v3/transactions/app:
    $ref: ./hk/v3/transactions/app.yaml
  /hk/v3/transactions/id/{transaction_id}:
    $ref: ./hk/v3/transactions/id/{transaction_id}.yaml
  /hk/v3/transactions/id/{transaction_id}/close:
    $ref: ./hk/v3/transactions/id/{transaction_id}/close.yaml
  /hk/v3/transactions/id/{transaction_id}/reverse:
    $ref: ./hk/v3/transactions/id/{transaction_id}/reverse.yaml
  /hk/v3/transactions/jsapi:
    $ref: ./hk/v3/transactions/jsapi.yaml
  /hk/v3/transactions/micropay:
    $ref: ./hk/v3/transactions/micropay.yaml
  /hk/v3/transactions/mweb:
    $ref: ./hk/v3/transactions/mweb.yaml
  /hk/v3/transactions/native:
    $ref: ./hk/v3/transactions/native.yaml
  /hk/v3/transactions/out-trade-no/{out_trade_no}:
    $ref: ./hk/v3/transactions/out-trade-no/{out_trade_no}.yaml
  /hk/v3/transactions/out-trade-no/{out_trade_no}/close:
    $ref: ./hk/v3/transactions/out-trade-no/{out_trade_no}/close.yaml
  /hk/v3/transactions/out-trade-no/{out_trade_no}/reverse:
    $ref: ./hk/v3/transactions/out-trade-no/{out_trade_no}/reverse.yaml
  /appauth/authindex:
    $ref: ./v2/appauth/authindex.yaml
  /appauth/getaccesstoken:
    $ref: ./v2/appauth/getaccesstoken.yaml
  /applyment/micro/getstate:
    $ref: ./v2/applyment/micro/getstate.yaml
  /applyment/micro/getupgradestate:
    $ref: ./v2/applyment/micro/getupgradestate.yaml
  /applyment/micro/modifyarchives:
    $ref: ./v2/applyment/micro/modifyarchives.yaml
  /applyment/micro/modifycontactinfo:
    $ref: ./v2/applyment/micro/modifycontactinfo.yaml
  /applyment/micro/signcontract:
    $ref: ./v2/applyment/micro/signcontract.yaml
  /applyment/micro/submit:
    $ref: ./v2/applyment/micro/submit.yaml
  /applyment/micro/submitupgrade:
    $ref: ./v2/applyment/micro/submitupgrade.yaml
  /billcommentsp/batchquerycomment:
    $ref: ./v2/billcommentsp/batchquerycomment.yaml
  /cgi-bin/mch/customs/customdeclareorder:
    $ref: ./v2/cgi-bin/mch/customs/customdeclareorder.yaml
  /cgi-bin/mch/customs/customdeclarequery:
    $ref: ./v2/cgi-bin/mch/customs/customdeclarequery.yaml
  /cgi-bin/mch/newcustoms/customdeclareredeclare:
    $ref: ./v2/cgi-bin/mch/newcustoms/customdeclareredeclare.yaml
  /deposit/consume:
    $ref: ./v2/deposit/consume.yaml
  /deposit/facepay:
    $ref: ./v2/deposit/facepay.yaml
  /deposit/micropay:
    $ref: ./v2/deposit/micropay.yaml
  /deposit/orderquery:
    $ref: ./v2/deposit/orderquery.yaml
  /deposit/refund:
    $ref: ./v2/deposit/refund.yaml
  /deposit/refundquery:
    $ref: ./v2/deposit/refundquery.yaml
  /deposit/reverse:
    $ref: ./v2/deposit/reverse.yaml
  /deposit/unifiedorder:
    $ref: ./v2/deposit/unifiedorder.yaml
  /face/get_wxpayface_authinfo:
    $ref: ./v2/face/get_wxpayface_authinfo.yaml
  /fund/queryautowithdrawbydate:
    $ref: ./v2/fund/queryautowithdrawbydate.yaml
  /fund/reautowithdrawbydate:
    $ref: ./v2/fund/reautowithdrawbydate.yaml
  /mchrisk/bankquerymchauditinfo:
    $ref: ./v2/mchrisk/bankquerymchauditinfo.yaml
  /mchrisk/channelquerymchauditinfo:
    $ref: ./v2/mchrisk/channelquerymchauditinfo.yaml
  /mchrisk/querymchrisk:
    $ref: ./v2/mchrisk/querymchrisk.yaml
  /mchrisk/setmchriskcallback:
    $ref: ./v2/mchrisk/setmchriskcallback.yaml
  /mchrisk/syncmchriskresult:
    $ref: ./v2/mchrisk/syncmchriskresult.yaml
  /mmpaymkttransfers/gethbinfo:
    $ref: ./v2/mmpaymkttransfers/gethbinfo.yaml
  /mmpaymkttransfers/gettransferinfo:
    $ref: ./v2/mmpaymkttransfers/gettransferinfo.yaml
  /mmpaymkttransfers/promotion/paywwsptrans2pocket:
    $ref: ./v2/mmpaymkttransfers/promotion/paywwsptrans2pocket.yaml
  /mmpaymkttransfers/promotion/querywwsptrans2pocket:
    $ref: ./v2/mmpaymkttransfers/promotion/querywwsptrans2pocket.yaml
  /mmpaymkttransfers/promotion/transfers:
    $ref: ./v2/mmpaymkttransfers/promotion/transfers.yaml
  /mmpaymkttransfers/query_bank:
    $ref: ./v2/mmpaymkttransfers/query_bank.yaml
  /mmpaymkttransfers/query_coupon_stock:
    $ref: ./v2/mmpaymkttransfers/query_coupon_stock.yaml
  /mmpaymkttransfers/querycouponsinfo:
    $ref: ./v2/mmpaymkttransfers/querycouponsinfo.yaml
  /mmpaymkttransfers/queryworkwxredpack:
    $ref: ./v2/mmpaymkttransfers/queryworkwxredpack.yaml
  /mmpaymkttransfers/send_coupon:
    $ref: ./v2/mmpaymkttransfers/send_coupon.yaml
  /mmpaymkttransfers/sendgroupredpack:
    $ref: ./v2/mmpaymkttransfers/sendgroupredpack.yaml
  /mmpaymkttransfers/sendminiprogramhb:
    $ref: ./v2/mmpaymkttransfers/sendminiprogramhb.yaml
  /mmpaymkttransfers/sendredpack:
    $ref: ./v2/mmpaymkttransfers/sendredpack.yaml
  /mmpaymkttransfers/sendworkwxredpack:
    $ref: ./v2/mmpaymkttransfers/sendworkwxredpack.yaml
  /mmpaysptrans/pay_bank:
    $ref: ./v2/mmpaysptrans/pay_bank.yaml
  /papay/deletecontract:
    $ref: ./v2/papay/deletecontract.yaml
  /papay/entrustweb:
    $ref: ./v2/papay/entrustweb.yaml
  /papay/h5entrustweb:
    $ref: ./v2/papay/h5entrustweb.yaml
  /papay/partner/entrustweb:
    $ref: ./v2/papay/partner/entrustweb.yaml
  /papay/partner/h5entrustweb:
    $ref: ./v2/papay/partner/h5entrustweb.yaml
  /papay/partner/paporderquery:
    $ref: ./v2/papay/partner/paporderquery.yaml
  /papay/partner/preentrustweb:
    $ref: ./v2/papay/partner/preentrustweb.yaml
  /papay/partner/querycontract:
    $ref: ./v2/papay/partner/querycontract.yaml
  /papay/preentrustweb:
    $ref: ./v2/papay/preentrustweb.yaml
  /papay/querycontract:
    $ref: ./v2/papay/querycontract.yaml
  /pay/closecombinedorder:
    $ref: ./v2/pay/closecombinedorder.yaml
  /pay/closeorder:
    $ref: ./v2/pay/closeorder.yaml
  /pay/combinedorder:
    $ref: ./v2/pay/combinedorder.yaml
  /pay/contractorder:
    $ref: ./v2/pay/contractorder.yaml
  /pay/downloadbill:
    $ref: ./v2/pay/downloadbill.yaml
  /pay/downloadfundflow:
    $ref: ./v2/pay/downloadfundflow.yaml
  /pay/facepay:
    $ref: ./v2/pay/facepay.yaml
  /pay/facepayquery:
    $ref: ./v2/pay/facepayquery.yaml
  /pay/micropay:
    $ref: ./v2/pay/micropay.yaml
  /pay/orderquery:
    $ref: ./v2/pay/orderquery.yaml
  /pay/paporderquery:
    $ref: ./v2/pay/paporderquery.yaml
  /pay/pappayapply:
    $ref: ./v2/pay/pappayapply.yaml
  /pay/partner/pappayapply:
    $ref: ./v2/pay/partner/pappayapply.yaml
  /pay/profitsharingaddreceiver:
    $ref: ./v2/pay/profitsharingaddreceiver.yaml
  /pay/profitsharingmerchantratioquery:
    $ref: ./v2/pay/profitsharingmerchantratioquery.yaml
  /pay/profitsharingorderamountquery:
    $ref: ./v2/pay/profitsharingorderamountquery.yaml
  /pay/profitsharingquery:
    $ref: ./v2/pay/profitsharingquery.yaml
  /pay/profitsharingremovereceiver:
    $ref: ./v2/pay/profitsharingremovereceiver.yaml
  /pay/profitsharingreturnquery:
    $ref: ./v2/pay/profitsharingreturnquery.yaml
  /pay/querycombinedorder:
    $ref: ./v2/pay/querycombinedorder.yaml
  /pay/queryexchagerate:
    $ref: ./v2/pay/queryexchagerate.yaml
  /pay/refundquery:
    $ref: ./v2/pay/refundquery.yaml
  /pay/refundqueryv2:
    $ref: ./v2/pay/refundqueryv2.yaml
  /pay/settlementquery:
    $ref: ./v2/pay/settlementquery.yaml
  /pay/unifiedorder:
    $ref: ./v2/pay/unifiedorder.yaml
  /payitil/report:
    $ref: ./v2/payitil/report.yaml
  /risk/getcertficates:
    $ref: ./v2/risk/getcertficates.yaml
  /risk/getpublickey:
    $ref: ./v2/risk/getpublickey.yaml
  /risk/getviolation:
    $ref: ./v2/risk/getviolation.yaml
  /sandboxnew/pay/downloadbill:
    $ref: ./v2/sandboxnew/pay/downloadbill.yaml
  /sandboxnew/pay/getsignkey:
    $ref: ./v2/sandboxnew/pay/getsignkey.yaml
  /sandboxnew/pay/micropay:
    $ref: ./v2/sandboxnew/pay/micropay.yaml
  /sandboxnew/pay/orderquery:
    $ref: ./v2/sandboxnew/pay/orderquery.yaml
  /sandboxnew/pay/refund:
    $ref: ./v2/sandboxnew/pay/refund.yaml
  /sandboxnew/pay/refundquery:
    $ref: ./v2/sandboxnew/pay/refundquery.yaml
  /sandboxnew/pay/unifiedorder:
    $ref: ./v2/sandboxnew/pay/unifiedorder.yaml
  /secapi/mch/addInstitutionsub:
    $ref: ./v2/secapi/mch/addInstitutionsub.yaml
  /secapi/mch/addsubdevconfig:
    $ref: ./v2/secapi/mch/addsubdevconfig.yaml
  /secapi/mch/channelsetting:
    $ref: ./v2/secapi/mch/channelsetting.yaml
  /secapi/mch/modifyInstitutionsub:
    $ref: ./v2/secapi/mch/modifyInstitutionsub.yaml
  /secapi/mch/modifymchinfo:
    $ref: ./v2/secapi/mch/modifymchinfo.yaml
  /secapi/mch/queryInstitutionsub:
    $ref: ./v2/secapi/mch/queryInstitutionsub.yaml
  /secapi/mch/querysubdevconfig:
    $ref: ./v2/secapi/mch/querysubdevconfig.yaml
  /secapi/mch/submchmanage:
    $ref: ./v2/secapi/mch/submchmanage.yaml
  /secapi/mch/uploadmedia:
    $ref: ./v2/secapi/mch/uploadmedia.yaml
  /secapi/mkt/addrecommendconf:
    $ref: ./v2/secapi/mkt/addrecommendconf.yaml
  /secapi/pay/facepayreverse:
    $ref: ./v2/secapi/pay/facepayreverse.yaml
  /secapi/pay/multiprofitsharing:
    $ref: ./v2/secapi/pay/multiprofitsharing.yaml
  /secapi/pay/profitsharing:
    $ref: ./v2/secapi/pay/profitsharing.yaml
  /secapi/pay/profitsharingfinish:
    $ref: ./v2/secapi/pay/profitsharingfinish.yaml
  /secapi/pay/profitsharingreturn:
    $ref: ./v2/secapi/pay/profitsharingreturn.yaml
  /secapi/pay/refund:
    $ref: ./v2/secapi/pay/refund.yaml
  /secapi/pay/refundv2:
    $ref: ./v2/secapi/pay/refundv2.yaml
  /secapi/pay/reverse:
    $ref: ./v2/secapi/pay/reverse.yaml
  /secsvc/getrealnameinfo:
    $ref: ./v2/secsvc/getrealnameinfo.yaml
  /secsvc/realnameauth:
    $ref: ./v2/secsvc/realnameauth.yaml
  /tools/authcodetoopenid:
    $ref: ./v2/tools/authcodetoopenid.yaml
  /tools/shorturl:
    $ref: ./v2/tools/shorturl.yaml
  /transit/partnerpay/payapply:
    $ref: ./v2/transit/partnerpay/payapply.yaml
  /transit/partnerpay/queryorder:
    $ref: ./v2/transit/partnerpay/queryorder.yaml
  /transit/partnerpay/querystate:
    $ref: ./v2/transit/partnerpay/querystate.yaml
  /transit/pay/payapply:
    $ref: ./v2/transit/pay/payapply.yaml
  /transit/pay/querystate:
    $ref: ./v2/transit/pay/querystate.yaml
  /transit/queryorder:
    $ref: ./v2/transit/queryorder.yaml
  /vehicle/partnerpay/notification:
    $ref: ./v2/vehicle/partnerpay/notification.yaml
  /vehicle/partnerpay/payapply:
    $ref: ./v2/vehicle/partnerpay/payapply.yaml
  /vehicle/partnerpay/querystate:
    $ref: ./v2/vehicle/partnerpay/querystate.yaml
  /vehicle/pay/notification:
    $ref: ./v2/vehicle/pay/notification.yaml
  /vehicle/pay/payapply:
    $ref: ./v2/vehicle/pay/payapply.yaml
  /vehicle/pay/querystate:
    $ref: ./v2/vehicle/pay/querystate.yaml
  /wxv/cancelbill:
    $ref: ./v2/wxv/cancelbill.yaml
  /wxv/changerentmoney:
    $ref: ./v2/wxv/changerentmoney.yaml
  /wxv/createhotelbill:
    $ref: ./v2/wxv/createhotelbill.yaml
  /wxv/createrentbill:
    $ref: ./v2/wxv/createrentbill.yaml
  /wxv/finishhotelbill:
    $ref: ./v2/wxv/finishhotelbill.yaml
  /wxv/finishrentbill:
    $ref: ./v2/wxv/finishrentbill.yaml
  /wxv/queryhotelbill:
    $ref: ./v2/wxv/queryhotelbill.yaml
  /wxv/queryrentbill:
    $ref: ./v2/wxv/queryrentbill.yaml
  /xdc/apiv2getsignkey/sign/getsignkey:
    $ref: ./v2/xdc/apiv2getsignkey/sign/getsignkey.yaml
  /xdc/apiv2sandbox/pay/micropay:
    $ref: ./v2/xdc/apiv2sandbox/pay/micropay.yaml
  /xdc/apiv2sandbox/pay/orderquery:
    $ref: ./v2/xdc/apiv2sandbox/pay/orderquery.yaml
  /v3/apply4sub/sub_merchants/{sub_mchid}/application/{application_no}:
    $ref: ./v3/apply4sub/sub_merchants/{sub_mchid}/application/{application_no}.yaml
  /v3/apply4sub/sub_merchants/{sub_mchid}/modify-settlement:
    $ref: ./v3/apply4sub/sub_merchants/{sub_mchid}/modify-settlement.yaml
  /v3/apply4sub/sub_merchants/{sub_mchid}/settlement:
    $ref: ./v3/apply4sub/sub_merchants/{sub_mchid}/settlement.yaml
  /v3/apply4subject/applyment:
    $ref: ./v3/apply4subject/applyment.yaml
  /v3/apply4subject/applyment/{applyment_id}/cancel:
    $ref: ./v3/apply4subject/applyment/{applyment_id}/cancel.yaml
  /v3/apply4subject/applyment/{business_code}/cancel:
    $ref: ./v3/apply4subject/applyment/{business_code}/cancel.yaml
  /v3/apply4subject/applyment/merchants/{sub_mchid}/state:
    $ref: ./v3/apply4subject/applyment/merchants/{sub_mchid}/state.yaml
  /v3/applyment4sub/applyment/:
    $ref: ./v3/applyment4sub/applyment/{empty}.yaml
  /v3/applyment4sub/applyment/applyment_id/{applyment_id}:
    $ref: ./v3/applyment4sub/applyment/applyment_id/{applyment_id}.yaml
  /v3/applyment4sub/applyment/business_code/{business_code}:
    $ref: ./v3/applyment4sub/applyment/business_code/{business_code}.yaml
  /v3/bank-batch-transfer/receipt/detail-receipts:
    $ref: ./v3/bank-batch-transfer/receipt/detail-receipts.yaml
  /v3/bank-batch-transfer/receipt/summary-receipts:
    $ref: ./v3/bank-batch-transfer/receipt/summary-receipts.yaml
  /v3/bank-transfer/batches:
    $ref: ./v3/bank-transfer/batches.yaml
  /v3/bank-transfer/batches/batch-id/{batch_id}:
    $ref: ./v3/bank-transfer/batches/batch-id/{batch_id}.yaml
  /v3/bank-transfer/batches/batch-id/{batch_id}/details/detail-id/{detail_id}:
    $ref: ./v3/bank-transfer/batches/batch-id/{batch_id}/details/detail-id/{detail_id}.yaml
  /v3/bank-transfer/batches/out-batch-no/{out_batch_no}:
    $ref: ./v3/bank-transfer/batches/out-batch-no/{out_batch_no}.yaml
  /v3/bank-transfer/batches/out-batch-no/{out_batch_no}/details/out-detail-no/{out_detail_no}:
    $ref: ./v3/bank-transfer/batches/out-batch-no/{out_batch_no}/details/out-detail-no/{out_detail_no}.yaml
  /v3/bill/fundflowbill:
    $ref: ./v3/bill/fundflowbill.yaml
  /v3/bill/sub-merchant-fundflowbill:
    $ref: ./v3/bill/sub-merchant-fundflowbill.yaml
  /v3/bill/tradebill:
    $ref: ./v3/bill/tradebill.yaml
  /v3/billdownload/file:
    $ref: ./v3/billdownload/file.yaml
  /v3/brand/profitsharing/brand-configs/{brand_mchid}:
    $ref: ./v3/brand/profitsharing/brand-configs/{brand_mchid}.yaml
  /v3/brand/profitsharing/finish-order:
    $ref: ./v3/brand/profitsharing/finish-order.yaml
  /v3/brand/profitsharing/orders:
    $ref: ./v3/brand/profitsharing/orders.yaml
  /v3/brand/profitsharing/orders/{transaction_id}/amounts:
    $ref: ./v3/brand/profitsharing/orders/{transaction_id}/amounts.yaml
  /v3/brand/profitsharing/receivers/add:
    $ref: ./v3/brand/profitsharing/receivers/add.yaml
  /v3/brand/profitsharing/receivers/delete:
    $ref: ./v3/brand/profitsharing/receivers/delete.yaml
  /v3/brand/profitsharing/returnorders:
    $ref: ./v3/brand/profitsharing/returnorders.yaml
  /v3/businesscircle/parkings:
    $ref: ./v3/businesscircle/parkings.yaml
  /v3/businesscircle/points/notify:
    $ref: ./v3/businesscircle/points/notify.yaml
  /v3/businesscircle/user-authorizations/{openid}:
    $ref: ./v3/businesscircle/user-authorizations/{openid}.yaml
  /v3/businesscircle/users/{openid}/points/commit_status:
    $ref: ./v3/businesscircle/users/{openid}/points/commit_status.yaml
  /v3/capital/capitallhh/areas/provinces:
    $ref: ./v3/capital/capitallhh/areas/provinces.yaml
  /v3/capital/capitallhh/areas/provinces/{province_code}/cities:
    $ref: ./v3/capital/capitallhh/areas/provinces/{province_code}/cities.yaml
  /v3/capital/capitallhh/banks/{bank_alias_code}/branches:
    $ref: ./v3/capital/capitallhh/banks/{bank_alias_code}/branches.yaml
  /v3/capital/capitallhh/banks/corporate-banking:
    $ref: ./v3/capital/capitallhh/banks/corporate-banking.yaml
  /v3/capital/capitallhh/banks/personal-banking:
    $ref: ./v3/capital/capitallhh/banks/personal-banking.yaml
  /v3/capital/capitallhh/banks/search-banks-by-bank-account:
    $ref: ./v3/capital/capitallhh/banks/search-banks-by-bank-account.yaml
  /v3/catering/orders/sync-status:
    $ref: ./v3/catering/orders/sync-status.yaml
  /v3/certificates:
    $ref: ./v3/certificates.yaml
  /v3/combine-transactions/app:
    $ref: ./v3/combine-transactions/app.yaml
  /v3/combine-transactions/h5:
    $ref: ./v3/combine-transactions/h5.yaml
  /v3/combine-transactions/id/{combine_transaction_id}:
    $ref: ./v3/combine-transactions/id/{combine_transaction_id}.yaml
  /v3/combine-transactions/jsapi:
    $ref: ./v3/combine-transactions/jsapi.yaml
  /v3/combine-transactions/miniprogram:
    $ref: ./v3/combine-transactions/miniprogram.yaml
  /v3/combine-transactions/native:
    $ref: ./v3/combine-transactions/native.yaml
  /v3/combine-transactions/out-trade-no/{combine_out_trade_no}:
    $ref: ./v3/combine-transactions/out-trade-no/{combine_out_trade_no}.yaml
  /v3/combine-transactions/out-trade-no/{combine_out_trade_no}/close:
    $ref: ./v3/combine-transactions/out-trade-no/{combine_out_trade_no}/close.yaml
  /v3/compliance/inactive-merchant-identity-verification/merchants:
    $ref: ./v3/compliance/inactive-merchant-identity-verification/merchants.yaml
  /v3/compliance/inactive-merchant-identity-verification/merchants/{sub_mchid}/verifications/{verification_id}:
    $ref: ./v3/compliance/inactive-merchant-identity-verification/merchants/{sub_mchid}/verifications/{verification_id}.yaml
  /v3/discount-card/cards:
    $ref: ./v3/discount-card/cards.yaml
  /v3/discount-card/cards/{out_card_code}:
    $ref: ./v3/discount-card/cards/{out_card_code}.yaml
  /v3/discount-card/cards/{out_card_code}/add-user-records:
    $ref: ./v3/discount-card/cards/{out_card_code}/add-user-records.yaml
  /v3/discount-card/orders/{out_order_no}:
    $ref: ./v3/discount-card/orders/{out_order_no}.yaml
  /v3/discount-card/orders/out-trade-no/{out_trade_no}:
    $ref: ./v3/discount-card/orders/out-trade-no/{out_trade_no}.yaml
  /v3/ebike/charge/contracts/{contract_id}:
    $ref: ./v3/ebike/charge/contracts/{contract_id}.yaml
  /v3/ebike/charge/contracts/{contract_id}/confirm:
    $ref: ./v3/ebike/charge/contracts/{contract_id}/confirm.yaml
  /v3/ebike/charge/contracts/preopen:
    $ref: ./v3/ebike/charge/contracts/preopen.yaml
  /v3/ebike/charge/transactions:
    $ref: ./v3/ebike/charge/transactions.yaml
  /v3/ebike/charge/transactions/id/{transaction_id}:
    $ref: ./v3/ebike/charge/transactions/id/{transaction_id}.yaml
  /v3/ebike/charge/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/ebike/charge/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/ebike/charge/users/{openid}/contract:
    $ref: ./v3/ebike/charge/users/{openid}/contract.yaml
  /v3/ecommerce/account/cancel-applications:
    $ref: ./v3/ecommerce/account/cancel-applications.yaml
  /v3/ecommerce/account/cancel-applications/media:
    $ref: ./v3/ecommerce/account/cancel-applications/media.yaml
  /v3/ecommerce/account/cancel-applications/out-apply-no/{out_apply_no}:
    $ref: ./v3/ecommerce/account/cancel-applications/out-apply-no/{out_apply_no}.yaml
  /v3/ecommerce/applyments/{applyment_id}:
    $ref: ./v3/ecommerce/applyments/{applyment_id}.yaml
  /v3/ecommerce/applyments/:
    $ref: ./v3/ecommerce/applyments/{empty}.yaml
  /v3/ecommerce/applyments/out-request-no/{out_request_no}:
    $ref: ./v3/ecommerce/applyments/out-request-no/{out_request_no}.yaml
  /v3/ecommerce/bill/fundflowbill:
    $ref: ./v3/ecommerce/bill/fundflowbill.yaml
  /v3/ecommerce/combine-papay/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}:
    $ref: ./v3/ecommerce/combine-papay/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}.yaml
  /v3/ecommerce/combine-papay/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}/terminate:
    $ref: ./v3/ecommerce/combine-papay/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}/terminate.yaml
  /v3/ecommerce/combine-papay/contracts/pre-entrust-sign:
    $ref: ./v3/ecommerce/combine-papay/contracts/pre-entrust-sign.yaml
  /v3/ecommerce/combine-papay/contracts/pre-entrust-sign/mini-program:
    $ref: ./v3/ecommerce/combine-papay/contracts/pre-entrust-sign/mini-program.yaml
  /v3/ecommerce/combine-papay/transactions:
    $ref: ./v3/ecommerce/combine-papay/transactions.yaml
  /v3/ecommerce/combine-papay/transactions/{combine_out_trade_no}:
    $ref: ./v3/ecommerce/combine-papay/transactions/{combine_out_trade_no}.yaml
  /v3/ecommerce/combine-papay/transactions/{combine_out_trade_no}/reverse:
    $ref: ./v3/ecommerce/combine-papay/transactions/{combine_out_trade_no}/reverse.yaml
  /v3/ecommerce/fund/balance/{sub_mchid}:
    $ref: ./v3/ecommerce/fund/balance/{sub_mchid}.yaml
  /v3/ecommerce/fund/enddaybalance/{sub_mchid}:
    $ref: ./v3/ecommerce/fund/enddaybalance/{sub_mchid}.yaml
  /v3/ecommerce/fund/withdraw:
    $ref: ./v3/ecommerce/fund/withdraw.yaml
  /v3/ecommerce/fund/withdraw/{withdraw_id}:
    $ref: ./v3/ecommerce/fund/withdraw/{withdraw_id}.yaml
  /v3/ecommerce/fund/withdraw/out-request-no/{out_request_no}:
    $ref: ./v3/ecommerce/fund/withdraw/out-request-no/{out_request_no}.yaml
  /v3/ecommerce/individual-contracts/{openid}:
    $ref: ./v3/ecommerce/individual-contracts/{openid}.yaml
  /v3/ecommerce/mch-transfer/authorizations:
    $ref: ./v3/ecommerce/mch-transfer/authorizations.yaml
  /v3/ecommerce/mch-transfer/authorizations/{sub_mchid}:
    $ref: ./v3/ecommerce/mch-transfer/authorizations/{sub_mchid}.yaml
  /v3/ecommerce/mch-transfer/transfer-bills:
    $ref: ./v3/ecommerce/mch-transfer/transfer-bills.yaml
  /v3/ecommerce/mch-transfer/transfer-bills/out-bill-no/{out_bill_no}:
    $ref: ./v3/ecommerce/mch-transfer/transfer-bills/out-bill-no/{out_bill_no}.yaml
  /v3/ecommerce/mch-transfer/transfer-bills/out-bill-no/{out_bill_no}/cancel:
    $ref: ./v3/ecommerce/mch-transfer/transfer-bills/out-bill-no/{out_bill_no}/cancel.yaml
  /v3/ecommerce/mch-transfer/transfer-bills/transfer-bill-no/{transfer_bill_no}:
    $ref: ./v3/ecommerce/mch-transfer/transfer-bills/transfer-bill-no/{transfer_bill_no}.yaml
  /v3/ecommerce/profitsharing/after-sales-orders:
    $ref: ./v3/ecommerce/profitsharing/after-sales-orders.yaml
  /v3/ecommerce/profitsharing/finish-order:
    $ref: ./v3/ecommerce/profitsharing/finish-order.yaml
  /v3/ecommerce/profitsharing/orders:
    $ref: ./v3/ecommerce/profitsharing/orders.yaml
  /v3/ecommerce/profitsharing/orders/{transaction_id}/amounts:
    $ref: ./v3/ecommerce/profitsharing/orders/{transaction_id}/amounts.yaml
  /v3/ecommerce/profitsharing/receivers/add:
    $ref: ./v3/ecommerce/profitsharing/receivers/add.yaml
  /v3/ecommerce/profitsharing/receivers/delete:
    $ref: ./v3/ecommerce/profitsharing/receivers/delete.yaml
  /v3/ecommerce/profitsharing/returnorders:
    $ref: ./v3/ecommerce/profitsharing/returnorders.yaml
  /v3/ecommerce/refunds/{refund_id}/apply-abnormal-refund:
    $ref: ./v3/ecommerce/refunds/{refund_id}/apply-abnormal-refund.yaml
  /v3/ecommerce/refunds/{refund_id}/return-advance:
    $ref: ./v3/ecommerce/refunds/{refund_id}/return-advance.yaml
  /v3/ecommerce/refunds/apply:
    $ref: ./v3/ecommerce/refunds/apply.yaml
  /v3/ecommerce/refunds/id/{refund_id}:
    $ref: ./v3/ecommerce/refunds/id/{refund_id}.yaml
  /v3/ecommerce/refunds/out-refund-no/{out_refund_no}:
    $ref: ./v3/ecommerce/refunds/out-refund-no/{out_refund_no}.yaml
  /v3/ecommerce/subsidies/cancel:
    $ref: ./v3/ecommerce/subsidies/cancel.yaml
  /v3/ecommerce/subsidies/create:
    $ref: ./v3/ecommerce/subsidies/create.yaml
  /v3/ecommerce/subsidies/return:
    $ref: ./v3/ecommerce/subsidies/return.yaml
  /v3/edu-papay/contracts/{contract_id}:
    $ref: ./v3/edu-papay/contracts/{contract_id}.yaml
  /v3/edu-papay/contracts/id/{contract_id}:
    $ref: ./v3/edu-papay/contracts/id/{contract_id}.yaml
  /v3/edu-papay/contracts/presign:
    $ref: ./v3/edu-papay/contracts/presign.yaml
  /v3/edu-papay/transactions:
    $ref: ./v3/edu-papay/transactions.yaml
  /v3/edu-papay/transactions/id/{transaction_id}:
    $ref: ./v3/edu-papay/transactions/id/{transaction_id}.yaml
  /v3/edu-papay/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/edu-papay/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/edu-papay/user-notifications/{contract_id}/send:
    $ref: ./v3/edu-papay/user-notifications/{contract_id}/send.yaml
  /v3/edu-papay/user/{openid}/contracts:
    $ref: ./v3/edu-papay/user/{openid}/contracts.yaml
  /v3/edu-star/orders:
    $ref: ./v3/edu-star/orders.yaml
  /v3/edu-star/users/openid/{wechat_openid}:
    $ref: ./v3/edu-star/users/openid/{wechat_openid}.yaml
  /v3/edu-star/users/qq/{qq}:
    $ref: ./v3/edu-star/users/qq/{qq}.yaml
  /v3/eduschoolpay/contracts/{contract_id}:
    $ref: ./v3/eduschoolpay/contracts/{contract_id}.yaml
  /v3/eduschoolpay/contracts/{contract_id}/terminate:
    $ref: ./v3/eduschoolpay/contracts/{contract_id}/terminate.yaml
  /v3/eduschoolpay/contracts/presign:
    $ref: ./v3/eduschoolpay/contracts/presign.yaml
  /v3/eduschoolpay/transactions:
    $ref: ./v3/eduschoolpay/transactions.yaml
  /v3/eduschoolpay/transactions/id/{transaction_id}:
    $ref: ./v3/eduschoolpay/transactions/id/{transaction_id}.yaml
  /v3/eduschoolpay/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/eduschoolpay/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/eduschoolpay/users/{openid}/contracts:
    $ref: ./v3/eduschoolpay/users/{openid}/contracts.yaml
  /v3/eduschoolpay/users/{openid}/debt-state:
    $ref: ./v3/eduschoolpay/users/{openid}/debt-state.yaml
  /v3/express/users/{openid}/transform:
    $ref: ./v3/express/users/{openid}/transform.yaml
  /v3/facemch/users/{face_sid}:
    $ref: ./v3/facemch/users/{face_sid}.yaml
  /v3/fund-app/mch-transfer/elecsign/out-bill-no:
    $ref: ./v3/fund-app/mch-transfer/elecsign/out-bill-no.yaml
  /v3/fund-app/mch-transfer/elecsign/out-bill-no/{out_bill_no}:
    $ref: ./v3/fund-app/mch-transfer/elecsign/out-bill-no/{out_bill_no}.yaml
  /v3/fund-app/mch-transfer/elecsign/transfer-bill-no:
    $ref: ./v3/fund-app/mch-transfer/elecsign/transfer-bill-no.yaml
  /v3/fund-app/mch-transfer/elecsign/transfer-bill-no/{transfer_bill_no}:
    $ref: ./v3/fund-app/mch-transfer/elecsign/transfer-bill-no/{transfer_bill_no}.yaml
  /v3/fund-app/mch-transfer/transfer-bills:
    $ref: ./v3/fund-app/mch-transfer/transfer-bills.yaml
  /v3/fund-app/mch-transfer/transfer-bills/out-bill-no/{out_bill_no}:
    $ref: ./v3/fund-app/mch-transfer/transfer-bills/out-bill-no/{out_bill_no}.yaml
  /v3/fund-app/mch-transfer/transfer-bills/out-bill-no/{out_bill_no}/cancel:
    $ref: ./v3/fund-app/mch-transfer/transfer-bills/out-bill-no/{out_bill_no}/cancel.yaml
  /v3/fund-app/mch-transfer/transfer-bills/transfer-bill-no/{transfer_bill_no}:
    $ref: ./v3/fund-app/mch-transfer/transfer-bills/transfer-bill-no/{transfer_bill_no}.yaml
  /v3/funds-to-oversea/bill-download-url:
    $ref: ./v3/funds-to-oversea/bill-download-url.yaml
  /v3/funds-to-oversea/orders:
    $ref: ./v3/funds-to-oversea/orders.yaml
  /v3/funds-to-oversea/orders/{out_order_id}:
    $ref: ./v3/funds-to-oversea/orders/{out_order_id}.yaml
  /v3/funds-to-oversea/return/return-orders:
    $ref: ./v3/funds-to-oversea/return/return-orders.yaml
  /v3/funds-to-oversea/return/return-orders/out-return-no/{out_return_no}:
    $ref: ./v3/funds-to-oversea/return/return-orders/out-return-no/{out_return_no}.yaml
  /v3/funds-to-oversea/transactions/{transaction_id}/available_abroad_amounts:
    $ref: ./v3/funds-to-oversea/transactions/{transaction_id}/available_abroad_amounts.yaml
  /v3/global/certificates:
    $ref: ./v3/global/certificates.yaml
  /v3/global/customs/orders:
    $ref: ./v3/global/customs/orders.yaml
  /v3/global/customs/redeclare:
    $ref: ./v3/global/customs/redeclare.yaml
  /v3/global/customs/verify-certificate:
    $ref: ./v3/global/customs/verify-certificate.yaml
  /v3/global/merchant-storage/file/upload:
    $ref: ./v3/global/merchant-storage/file/upload.yaml
  /v3/global/merchant/h5/permission/{sub_mchid}:
    $ref: ./v3/global/merchant/h5/permission/{sub_mchid}.yaml
  /v3/global/merchant/h5/permission/applications:
    $ref: ./v3/global/merchant/h5/permission/applications.yaml
  /v3/global/merchant/h5/permission/applications/{applyment_id}:
    $ref: ./v3/global/merchant/h5/permission/applications/{applyment_id}.yaml
  /v3/global/merchant/h5/permission/domain/applications:
    $ref: ./v3/global/merchant/h5/permission/domain/applications.yaml
  /v3/global/merchant/h5/permission/domain/applications/{applyment_id}:
    $ref: ./v3/global/merchant/h5/permission/domain/applications/{applyment_id}.yaml
  /v3/global/merchants:
    $ref: ./v3/global/merchants.yaml
  /v3/global/merchants/{sub_mchid}:
    $ref: ./v3/global/merchants/{sub_mchid}.yaml
  /v3/global/micropay/transactions/id/{transaction_id}/reverse:
    $ref: ./v3/global/micropay/transactions/id/{transaction_id}/reverse.yaml
  /v3/global/micropay/transactions/out-trade-no/{out_trade_no}/reverse:
    $ref: ./v3/global/micropay/transactions/out-trade-no/{out_trade_no}/reverse.yaml
  /v3/global/micropay/transactions/pay:
    $ref: ./v3/global/micropay/transactions/pay.yaml
  /v3/global/papay/contracts/{contract_id}:
    $ref: ./v3/global/papay/contracts/{contract_id}.yaml
  /v3/global/papay/contracts/{contract_id}/terminate:
    $ref: ./v3/global/papay/contracts/{contract_id}/terminate.yaml
  /v3/global/papay/contracts/app-pre-entrust-sign:
    $ref: ./v3/global/papay/contracts/app-pre-entrust-sign.yaml
  /v3/global/papay/contracts/h5-pre-entrust-sign:
    $ref: ./v3/global/papay/contracts/h5-pre-entrust-sign.yaml
  /v3/global/papay/contracts/jsapi-pre-entrust-sign:
    $ref: ./v3/global/papay/contracts/jsapi-pre-entrust-sign.yaml
  /v3/global/papay/contracts/miniprogram-pre-entrust-sign:
    $ref: ./v3/global/papay/contracts/miniprogram-pre-entrust-sign.yaml
  /v3/global/papay/contracts/out-contract-code/{out_contract_code}:
    $ref: ./v3/global/papay/contracts/out-contract-code/{out_contract_code}.yaml
  /v3/global/papay/contracts/web-pre-entrust-sign:
    $ref: ./v3/global/papay/contracts/web-pre-entrust-sign.yaml
  /v3/global/papay/transactions:
    $ref: ./v3/global/papay/transactions.yaml
  /v3/global/papay/transactions/{transaction_id}:
    $ref: ./v3/global/papay/transactions/{transaction_id}.yaml
  /v3/global/papay/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/global/papay/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/global/papay/transactions/out-trade-no/{out_trade_no}/reverse:
    $ref: ./v3/global/papay/transactions/out-trade-no/{out_trade_no}/reverse.yaml
  /v3/global/profit-sharing/bill-download-url:
    $ref: ./v3/global/profit-sharing/bill-download-url.yaml
  /v3/global/profit-sharing/orders:
    $ref: ./v3/global/profit-sharing/orders.yaml
  /v3/global/profit-sharing/orders/{out_order_no}:
    $ref: ./v3/global/profit-sharing/orders/{out_order_no}.yaml
  /v3/global/profit-sharing/orders/unfreeze:
    $ref: ./v3/global/profit-sharing/orders/unfreeze.yaml
  /v3/global/profit-sharing/receivers:
    $ref: ./v3/global/profit-sharing/receivers.yaml
  /v3/global/profit-sharing/receivers/{account}:
    $ref: ./v3/global/profit-sharing/receivers/{account}.yaml
  /v3/global/profit-sharing/refunds/bill-download-url:
    $ref: ./v3/global/profit-sharing/refunds/bill-download-url.yaml
  /v3/global/profit-sharing/refunds/refundable-balance:
    $ref: ./v3/global/profit-sharing/refunds/refundable-balance.yaml
  /v3/global/profit-sharing/transactions/{transaction_id}/amounts:
    $ref: ./v3/global/profit-sharing/transactions/{transaction_id}/amounts.yaml
  /v3/global/profit-sharing/transactions/{transaction_id}/refundable-amounts:
    $ref: ./v3/global/profit-sharing/transactions/{transaction_id}/refundable-amounts.yaml
  /v3/global/profit-sharing/transactions/mark:
    $ref: ./v3/global/profit-sharing/transactions/mark.yaml
  /v3/global/refund/partner/recharge-balance/sub-mchid/{sub_mchid}:
    $ref: ./v3/global/refund/partner/recharge-balance/sub-mchid/{sub_mchid}.yaml
  /v3/global/refund/recharge-balance:
    $ref: ./v3/global/refund/recharge-balance.yaml
  /v3/global/refunds:
    $ref: ./v3/global/refunds.yaml
  /v3/global/refunds/id/{refund_id}:
    $ref: ./v3/global/refunds/id/{refund_id}.yaml
  /v3/global/refunds/out-refund-no/{out_refund_no}:
    $ref: ./v3/global/refunds/out-refund-no/{out_refund_no}.yaml
  /v3/global/settle/settlements:
    $ref: ./v3/global/settle/settlements.yaml
  /v3/global/statements:
    $ref: ./v3/global/statements.yaml
  /v3/global/transactions/app:
    $ref: ./v3/global/transactions/app.yaml
  /v3/global/transactions/id/{transaction_id}:
    $ref: ./v3/global/transactions/id/{transaction_id}.yaml
  /v3/global/transactions/id/{transaction_id}/close:
    $ref: ./v3/global/transactions/id/{transaction_id}/close.yaml
  /v3/global/transactions/jsapi:
    $ref: ./v3/global/transactions/jsapi.yaml
  /v3/global/transactions/mweb:
    $ref: ./v3/global/transactions/mweb.yaml
  /v3/global/transactions/native:
    $ref: ./v3/global/transactions/native.yaml
  /v3/global/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/global/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/global/transactions/out-trade-no/{out_trade_no}/close:
    $ref: ./v3/global/transactions/out-trade-no/{out_trade_no}/close.yaml
  /v3/goldplan/merchants/changecustompagestatus:
    $ref: ./v3/goldplan/merchants/changecustompagestatus.yaml
  /v3/goldplan/merchants/changegoldplanstatus:
    $ref: ./v3/goldplan/merchants/changegoldplanstatus.yaml
  /v3/goldplan/merchants/close-advertising-show:
    $ref: ./v3/goldplan/merchants/close-advertising-show.yaml
  /v3/goldplan/merchants/open-advertising-show:
    $ref: ./v3/goldplan/merchants/open-advertising-show.yaml
  /v3/goldplan/merchants/set-advertising-industry-filter:
    $ref: ./v3/goldplan/merchants/set-advertising-industry-filter.yaml
  /v3/hire-power-bank/insurance-orders:
    $ref: ./v3/hire-power-bank/insurance-orders.yaml
  /v3/hire-power-bank/insurance-orders/{out_order_no}:
    $ref: ./v3/hire-power-bank/insurance-orders/{out_order_no}.yaml
  /v3/hire-power-bank/user-qualifications/{openid}:
    $ref: ./v3/hire-power-bank/user-qualifications/{openid}.yaml
  /v3/industry-coupon/tokens:
    $ref: ./v3/industry-coupon/tokens.yaml
  /v3/iotmanage/devices:
    $ref: ./v3/iotmanage/devices.yaml
  /v3/lovefeast/brands/{brand_id}:
    $ref: ./v3/lovefeast/brands/{brand_id}.yaml
  /v3/lovefeast/users/{openid}/orders/brand-id/{brand_id}:
    $ref: ./v3/lovefeast/users/{openid}/orders/brand-id/{brand_id}.yaml
  /v3/lovefeast/users/{openid}/orders/out-trade-no/{out_trade_no}:
    $ref: ./v3/lovefeast/users/{openid}/orders/out-trade-no/{out_trade_no}.yaml
  /v3/marketing/bank/packages/{package_id}/tasks:
    $ref: ./v3/marketing/bank/packages/{package_id}/tasks.yaml
  /v3/marketing/busifavor/callbacks:
    $ref: ./v3/marketing/busifavor/callbacks.yaml
  /v3/marketing/busifavor/coupons/{card_id}/send:
    $ref: ./v3/marketing/busifavor/coupons/{card_id}/send.yaml
  /v3/marketing/busifavor/coupons/associate:
    $ref: ./v3/marketing/busifavor/coupons/associate.yaml
  /v3/marketing/busifavor/coupons/deactivate:
    $ref: ./v3/marketing/busifavor/coupons/deactivate.yaml
  /v3/marketing/busifavor/coupons/disassociate:
    $ref: ./v3/marketing/busifavor/coupons/disassociate.yaml
  /v3/marketing/busifavor/coupons/return:
    $ref: ./v3/marketing/busifavor/coupons/return.yaml
  /v3/marketing/busifavor/coupons/send:
    $ref: ./v3/marketing/busifavor/coupons/send.yaml
  /v3/marketing/busifavor/coupons/use:
    $ref: ./v3/marketing/busifavor/coupons/use.yaml
  /v3/marketing/busifavor/stocks:
    $ref: ./v3/marketing/busifavor/stocks.yaml
  /v3/marketing/busifavor/stocks/{stock_id}:
    $ref: ./v3/marketing/busifavor/stocks/{stock_id}.yaml
  /v3/marketing/busifavor/stocks/{stock_id}/budget:
    $ref: ./v3/marketing/busifavor/stocks/{stock_id}/budget.yaml
  /v3/marketing/busifavor/stocks/{stock_id}/couponcodes:
    $ref: ./v3/marketing/busifavor/stocks/{stock_id}/couponcodes.yaml
  /v3/marketing/busifavor/stocks/{stock_id}/couponcodes/{coupon_code}:
    $ref: ./v3/marketing/busifavor/stocks/{stock_id}/couponcodes/{coupon_code}.yaml
  /v3/marketing/busifavor/subsidy/pay-receipts:
    $ref: ./v3/marketing/busifavor/subsidy/pay-receipts.yaml
  /v3/marketing/busifavor/subsidy/pay-receipts/{subsidy_receipt_id}:
    $ref: ./v3/marketing/busifavor/subsidy/pay-receipts/{subsidy_receipt_id}.yaml
  /v3/marketing/busifavor/subsidy/return-receipts:
    $ref: ./v3/marketing/busifavor/subsidy/return-receipts.yaml
  /v3/marketing/busifavor/subsidy/return-receipts/{subsidy_return_receipt_id}:
    $ref: ./v3/marketing/busifavor/subsidy/return-receipts/{subsidy_return_receipt_id}.yaml
  /v3/marketing/busifavor/users/{openid}/coupons:
    $ref: ./v3/marketing/busifavor/users/{openid}/coupons.yaml
  /v3/marketing/busifavor/users/{openid}/coupons/{coupon_code}/appids/{appid}:
    $ref: ./v3/marketing/busifavor/users/{openid}/coupons/{coupon_code}/appids/{appid}.yaml
  /v3/marketing/favor/callbacks:
    $ref: ./v3/marketing/favor/callbacks.yaml
  /v3/marketing/favor/coupon-stocks:
    $ref: ./v3/marketing/favor/coupon-stocks.yaml
  /v3/marketing/favor/media/image-upload:
    $ref: ./v3/marketing/favor/media/image-upload.yaml
  /v3/marketing/favor/stocks:
    $ref: ./v3/marketing/favor/stocks.yaml
  /v3/marketing/favor/stocks/{stock_id}:
    $ref: ./v3/marketing/favor/stocks/{stock_id}.yaml
  /v3/marketing/favor/stocks/{stock_id}/items:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/items.yaml
  /v3/marketing/favor/stocks/{stock_id}/merchants:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/merchants.yaml
  /v3/marketing/favor/stocks/{stock_id}/pause:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/pause.yaml
  /v3/marketing/favor/stocks/{stock_id}/refund-flow:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/refund-flow.yaml
  /v3/marketing/favor/stocks/{stock_id}/restart:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/restart.yaml
  /v3/marketing/favor/stocks/{stock_id}/start:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/start.yaml
  /v3/marketing/favor/stocks/{stock_id}/use-flow:
    $ref: ./v3/marketing/favor/stocks/{stock_id}/use-flow.yaml
  /v3/marketing/favor/users/{openid}/coupons:
    $ref: ./v3/marketing/favor/users/{openid}/coupons.yaml
  /v3/marketing/favor/users/{openid}/coupons/{coupon_id}:
    $ref: ./v3/marketing/favor/users/{openid}/coupons/{coupon_id}.yaml
  /v3/marketing/goods-subsidy-activity/activities:
    $ref: ./v3/marketing/goods-subsidy-activity/activities.yaml
  /v3/marketing/goods-subsidy-activity/activity/{activity_id}/apply:
    $ref: ./v3/marketing/goods-subsidy-activity/activity/{activity_id}/apply.yaml
  /v3/marketing/goods-subsidy-activity/qualification/lock:
    $ref: ./v3/marketing/goods-subsidy-activity/qualification/lock.yaml
  /v3/marketing/goods-subsidy-activity/qualification/unlock:
    $ref: ./v3/marketing/goods-subsidy-activity/qualification/unlock.yaml
  /v3/marketing/goods-subsidy-activity/retail-store-act/{activity_id}/representative:
    $ref: ./v3/marketing/goods-subsidy-activity/retail-store-act/{activity_id}/representative.yaml
  /v3/marketing/goods-subsidy-activity/retail-store-act/{activity_id}/representatives:
    $ref: ./v3/marketing/goods-subsidy-activity/retail-store-act/{activity_id}/representatives.yaml
  /v3/marketing/goods-subsidy-activity/retail-store-act/{brand_id}/materials:
    $ref: ./v3/marketing/goods-subsidy-activity/retail-store-act/{brand_id}/materials.yaml
  /v3/marketing/goods-subsidy-activity/retail-store-act/{brand_id}/stores:
    $ref: ./v3/marketing/goods-subsidy-activity/retail-store-act/{brand_id}/stores.yaml
  /v3/marketing/goods-subsidy-activity/retail-store-act/{brand_id}/stores/{store_code}:
    $ref: ./v3/marketing/goods-subsidy-activity/retail-store-act/{brand_id}/stores/{store_code}.yaml
  /v3/marketing/membercard-activity/activities:
    $ref: ./v3/marketing/membercard-activity/activities.yaml
  /v3/marketing/membercard-activity/activities/{activity_id}:
    $ref: ./v3/marketing/membercard-activity/activities/{activity_id}.yaml
  /v3/marketing/membercard-activity/activities/{activity_id}/terminate:
    $ref: ./v3/marketing/membercard-activity/activities/{activity_id}/terminate.yaml
  /v3/marketing/membercard-open/activate-informations/{activate_ticket}:
    $ref: ./v3/marketing/membercard-open/activate-informations/{activate_ticket}.yaml
  /v3/marketing/membercard-open/callback:
    $ref: ./v3/marketing/membercard-open/callback.yaml
  /v3/marketing/membercard-open/cards:
    $ref: ./v3/marketing/membercard-open/cards.yaml
  /v3/marketing/membercard-open/cards/{card_id}:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}.yaml
  /v3/marketing/membercard-open/cards/{card_id}/codes/{code}:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/codes/{code}.yaml
  /v3/marketing/membercard-open/cards/{card_id}/codes/{code}/activate:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/codes/{code}/activate.yaml
  /v3/marketing/membercard-open/cards/{card_id}/codes/{code}/bonus/commit:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/codes/{code}/bonus/commit.yaml
  /v3/marketing/membercard-open/cards/{card_id}/codes/{code}/bonus/prepare:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/codes/{code}/bonus/prepare.yaml
  /v3/marketing/membercard-open/cards/{card_id}/codes/{code}/rights:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/codes/{code}/rights.yaml
  /v3/marketing/membercard-open/cards/{card_id}/codes/{code}/unavailable:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/codes/{code}/unavailable.yaml
  /v3/marketing/membercard-open/cards/{card_id}/codes/deposit:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/codes/deposit.yaml
  /v3/marketing/membercard-open/cards/{card_id}/decrypt-code:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/decrypt-code.yaml
  /v3/marketing/membercard-open/cards/{card_id}/permission-tokens:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/permission-tokens.yaml
  /v3/marketing/membercard-open/cards/{card_id}/phone-membercard/import:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/phone-membercard/import.yaml
  /v3/marketing/membercard-open/cards/{card_id}/qrcode:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/qrcode.yaml
  /v3/marketing/membercard-open/cards/{card_id}/rights:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/rights.yaml
  /v3/marketing/membercard-open/cards/{card_id}/upgrade:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/upgrade.yaml
  /v3/marketing/membercard-open/cards/{card_id}/users/import:
    $ref: ./v3/marketing/membercard-open/cards/{card_id}/users/import.yaml
  /v3/marketing/membercard-open/phonenumber-member/import:
    $ref: ./v3/marketing/membercard-open/phonenumber-member/import.yaml
  /v3/marketing/membercard-open/phonenumber-member/search:
    $ref: ./v3/marketing/membercard-open/phonenumber-member/search.yaml
  /v3/marketing/membercard-open/user/cards:
    $ref: ./v3/marketing/membercard-open/user/cards.yaml
  /v3/marketing/partnerships:
    $ref: ./v3/marketing/partnerships.yaml
  /v3/marketing/partnerships/build:
    $ref: ./v3/marketing/partnerships/build.yaml
  /v3/marketing/partnerships/terminate:
    $ref: ./v3/marketing/partnerships/terminate.yaml
  /v3/marketing/paygiftactivity/activities:
    $ref: ./v3/marketing/paygiftactivity/activities.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}:
    $ref: ./v3/marketing/paygiftactivity/activities/{activity_id}.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/goods:
    $ref: ./v3/marketing/paygiftactivity/activities/{activity_id}/goods.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/merchants:
    $ref: ./v3/marketing/paygiftactivity/activities/{activity_id}/merchants.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/merchants/add:
    $ref: ./v3/marketing/paygiftactivity/activities/{activity_id}/merchants/add.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/merchants/delete:
    $ref: ./v3/marketing/paygiftactivity/activities/{activity_id}/merchants/delete.yaml
  /v3/marketing/paygiftactivity/activities/{activity_id}/terminate:
    $ref: ./v3/marketing/paygiftactivity/activities/{activity_id}/terminate.yaml
  /v3/marketing/paygiftactivity/unique-threshold-activity:
    $ref: ./v3/marketing/paygiftactivity/unique-threshold-activity.yaml
  /v3/marketing/shopping-receipt/customentrances:
    $ref: ./v3/marketing/shopping-receipt/customentrances.yaml
  /v3/marketing/shopping-receipt/customentrances/{brand_id}:
    $ref: ./v3/marketing/shopping-receipt/customentrances/{brand_id}.yaml
  /v3/marketing/shopping-receipt/merchantshoppingreceiptjumpinfos:
    $ref: ./v3/marketing/shopping-receipt/merchantshoppingreceiptjumpinfos.yaml
  /v3/marketing/shopping-receipt/shoppingreceipts:
    $ref: ./v3/marketing/shopping-receipt/shoppingreceipts.yaml
  /v3/marketing/weekly-discount/activities:
    $ref: ./v3/marketing/weekly-discount/activities.yaml
  /v3/marketing/weekly-discount/activities/{activity_id}:
    $ref: ./v3/marketing/weekly-discount/activities/{activity_id}.yaml
  /v3/marketing/weekly-discount/activities/{activity_id}/apply:
    $ref: ./v3/marketing/weekly-discount/activities/{activity_id}/apply.yaml
  /v3/marketing/withdraw-favor/users/{openid}/coupons:
    $ref: ./v3/marketing/withdraw-favor/users/{openid}/coupons.yaml
  /v3/mch_operate/risk/withdrawl-apply:
    $ref: ./v3/mch_operate/risk/withdrawl-apply.yaml
  /v3/mch_operate/risk/withdrawl-apply/applyment-id/{applyment_id}:
    $ref: ./v3/mch_operate/risk/withdrawl-apply/applyment-id/{applyment_id}.yaml
  /v3/mch_operate/risk/withdrawl-apply/out-request-no/{out_request_no}:
    $ref: ./v3/mch_operate/risk/withdrawl-apply/out-request-no/{out_request_no}.yaml
  /v3/mch-operation-manage/merchant-limitations/sub-mchid/{sub_mchid}:
    $ref: ./v3/mch-operation-manage/merchant-limitations/sub-mchid/{sub_mchid}.yaml
  /v3/mchalterapply/mchsubjectalterapplyment:
    $ref: ./v3/mchalterapply/mchsubjectalterapplyment.yaml
  /v3/mchalterapply/mchsubjectalterapplyment/{apply_id}:
    $ref: ./v3/mchalterapply/mchsubjectalterapplyment/{apply_id}.yaml
  /v3/mchalterapply/mchsubjectalterapplyment/{apply_id}/revoke:
    $ref: ./v3/mchalterapply/mchsubjectalterapplyment/{apply_id}/revoke.yaml
  /v3/mchalterapply/mchsubjectalterapplyment/merchant/{merchant_code}/out-request-no/{out_request_no}:
    $ref: ./v3/mchalterapply/mchsubjectalterapplyment/merchant/{merchant_code}/out-request-no/{out_request_no}.yaml
  /v3/merchant-risk-manage/report-trade-union-information:
    $ref: ./v3/merchant-risk-manage/report-trade-union-information.yaml
  /v3/merchant-risk-manage/trade-risk-information:
    $ref: ./v3/merchant-risk-manage/trade-risk-information.yaml
  /v3/merchant-risk-manage/trade-risk-result:
    $ref: ./v3/merchant-risk-manage/trade-risk-result.yaml
  /v3/merchant-risk-manage/violation-notifications:
    $ref: ./v3/merchant-risk-manage/violation-notifications.yaml
  /v3/merchant-service/complaint-notifications:
    $ref: ./v3/merchant-service/complaint-notifications.yaml
  /v3/merchant-service/complaints-v2:
    $ref: ./v3/merchant-service/complaints-v2.yaml
  /v3/merchant-service/complaints-v2/{complaint_id}:
    $ref: ./v3/merchant-service/complaints-v2/{complaint_id}.yaml
  /v3/merchant-service/complaints-v2/{complaint_id}/complete:
    $ref: ./v3/merchant-service/complaints-v2/{complaint_id}/complete.yaml
  /v3/merchant-service/complaints-v2/{complaint_id}/negotiation-historys:
    $ref: ./v3/merchant-service/complaints-v2/{complaint_id}/negotiation-historys.yaml
  /v3/merchant-service/complaints-v2/{complaint_id}/response:
    $ref: ./v3/merchant-service/complaints-v2/{complaint_id}/response.yaml
  /v3/merchant-service/complaints-v2/{complaint_id}/update-refund-progress:
    $ref: ./v3/merchant-service/complaints-v2/{complaint_id}/update-refund-progress.yaml
  /v3/merchant-service/complaints:
    $ref: ./v3/merchant-service/complaints.yaml
  /v3/merchant-service/complaints/{transaction_id}:
    $ref: ./v3/merchant-service/complaints/{transaction_id}.yaml
  /v3/merchant-service/complaints/{transaction_id}/negotiation-historys:
    $ref: ./v3/merchant-service/complaints/{transaction_id}/negotiation-historys.yaml
  /v3/merchant-service/feedbacks:
    $ref: ./v3/merchant-service/feedbacks.yaml
  /v3/merchant-service/images/{media_id}:
    $ref: ./v3/merchant-service/images/{media_id}.yaml
  /v3/merchant-service/images/upload:
    $ref: ./v3/merchant-service/images/upload.yaml
  /v3/merchant-settlement/merchant-settle-rule-applications:
    $ref: ./v3/merchant-settlement/merchant-settle-rule-applications.yaml
  /v3/merchant-settlement/merchant-settle-rule-applications/{application_id}:
    $ref: ./v3/merchant-settlement/merchant-settle-rule-applications/{application_id}.yaml
  /v3/merchant-store/stores:
    $ref: ./v3/merchant-store/stores.yaml
  /v3/merchant-store/stores/{store_id}:
    $ref: ./v3/merchant-store/stores/{store_id}.yaml
  /v3/merchant-store/stores/{store_id}/recipients/bind:
    $ref: ./v3/merchant-store/stores/{store_id}/recipients/bind.yaml
  /v3/merchant-store/stores/{store_id}/recipients/unbind:
    $ref: ./v3/merchant-store/stores/{store_id}/recipients/unbind.yaml
  /v3/merchant/fund/balance/{account_type}:
    $ref: ./v3/merchant/fund/balance/{account_type}.yaml
  /v3/merchant/fund/dayendbalance/{account_type}:
    $ref: ./v3/merchant/fund/dayendbalance/{account_type}.yaml
  /v3/merchant/fund/withdraw:
    $ref: ./v3/merchant/fund/withdraw.yaml
  /v3/merchant/fund/withdraw/bill-type/{bill_type}:
    $ref: ./v3/merchant/fund/withdraw/bill-type/{bill_type}.yaml
  /v3/merchant/fund/withdraw/out-request-no/{out_request_no}:
    $ref: ./v3/merchant/fund/withdraw/out-request-no/{out_request_no}.yaml
  /v3/merchant/fund/withdraw/withdraw-id/{withdraw_id}:
    $ref: ./v3/merchant/fund/withdraw/withdraw-id/{withdraw_id}.yaml
  /v3/merchant/media/upload:
    $ref: ./v3/merchant/media/upload.yaml
  /v3/merchant/media/video_upload:
    $ref: ./v3/merchant/media/video_upload.yaml
  /v3/merchantfund/merchant/income-records:
    $ref: ./v3/merchantfund/merchant/income-records.yaml
  /v3/merchantfund/partner/income-records:
    $ref: ./v3/merchantfund/partner/income-records.yaml
  /v3/multiuse/stocks/{stock_id}/refund-flow:
    $ref: ./v3/multiuse/stocks/{stock_id}/refund-flow.yaml
  /v3/multiuse/stocks/{stock_id}/send-flow:
    $ref: ./v3/multiuse/stocks/{stock_id}/send-flow.yaml
  /v3/multiuse/stocks/{stock_id}/use-flow:
    $ref: ./v3/multiuse/stocks/{stock_id}/use-flow.yaml
  /v3/multiuse/users/{openid}/coupons:
    $ref: ./v3/multiuse/users/{openid}/coupons.yaml
  /v3/new-tax-control-fapiao/card-template:
    $ref: ./v3/new-tax-control-fapiao/card-template.yaml
  /v3/new-tax-control-fapiao/fapiao-applications:
    $ref: ./v3/new-tax-control-fapiao/fapiao-applications.yaml
  /v3/new-tax-control-fapiao/fapiao-applications/{fapiao_apply_id}:
    $ref: ./v3/new-tax-control-fapiao/fapiao-applications/{fapiao_apply_id}.yaml
  /v3/new-tax-control-fapiao/fapiao-applications/{fapiao_apply_id}/fapiao-files:
    $ref: ./v3/new-tax-control-fapiao/fapiao-applications/{fapiao_apply_id}/fapiao-files.yaml
  /v3/new-tax-control-fapiao/fapiao-applications/{fapiao_apply_id}/insert-cards:
    $ref: ./v3/new-tax-control-fapiao/fapiao-applications/{fapiao_apply_id}/insert-cards.yaml
  /v3/new-tax-control-fapiao/fapiao-applications/{fapiao_apply_id}/reverse:
    $ref: ./v3/new-tax-control-fapiao/fapiao-applications/{fapiao_apply_id}/reverse.yaml
  /v3/new-tax-control-fapiao/fapiao-applications/upload-fapiao-file:
    $ref: ./v3/new-tax-control-fapiao/fapiao-applications/upload-fapiao-file.yaml
  /v3/new-tax-control-fapiao/merchant/{sub_mchid}/check:
    $ref: ./v3/new-tax-control-fapiao/merchant/{sub_mchid}/check.yaml
  /v3/new-tax-control-fapiao/merchant/base-information:
    $ref: ./v3/new-tax-control-fapiao/merchant/base-information.yaml
  /v3/new-tax-control-fapiao/merchant/development-config:
    $ref: ./v3/new-tax-control-fapiao/merchant/development-config.yaml
  /v3/new-tax-control-fapiao/merchant/tax-codes:
    $ref: ./v3/new-tax-control-fapiao/merchant/tax-codes.yaml
  /v3/new-tax-control-fapiao/user-title:
    $ref: ./v3/new-tax-control-fapiao/user-title.yaml
  /v3/new-tax-control-fapiao/user-title/title-url:
    $ref: ./v3/new-tax-control-fapiao/user-title/title-url.yaml
  /v3/offlineface/authinfo:
    $ref: ./v3/offlineface/authinfo.yaml
  /v3/offlineface/contracts/{contract_id}:
    $ref: ./v3/offlineface/contracts/{contract_id}.yaml
  /v3/offlineface/contracts/presign:
    $ref: ./v3/offlineface/contracts/presign.yaml
  /v3/offlineface/face-collections:
    $ref: ./v3/offlineface/face-collections.yaml
  /v3/offlineface/face-collections/{collection_id}:
    $ref: ./v3/offlineface/face-collections/{collection_id}.yaml
  /v3/offlineface/repayment-url:
    $ref: ./v3/offlineface/repayment-url.yaml
  /v3/offlineface/transactions:
    $ref: ./v3/offlineface/transactions.yaml
  /v3/offlineface/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/offlineface/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/offlinefacemch/organizations:
    $ref: ./v3/offlinefacemch/organizations.yaml
  /v3/offlinefacemch/organizations/{organization_id}/users/out-user-id/{out_user_id}:
    $ref: ./v3/offlinefacemch/organizations/{organization_id}/users/out-user-id/{out_user_id}.yaml
  /v3/offlinefacemch/organizations/{organization_id}/users/user-id/{user_id}/terminate-contract:
    $ref: ./v3/offlinefacemch/organizations/{organization_id}/users/user-id/{user_id}/terminate-contract.yaml
  /v3/offlinefacemch/tokens:
    $ref: ./v3/offlinefacemch/tokens.yaml
  /v3/papay/contracts/{contract_id}/fail-notify:
    $ref: ./v3/papay/contracts/{contract_id}/fail-notify.yaml
  /v3/papay/contracts/{contract_id}/notify:
    $ref: ./v3/papay/contracts/{contract_id}/notify.yaml
  /v3/papay/entrust-sign/contracts/pre-entrust-sign:
    $ref: ./v3/papay/entrust-sign/contracts/pre-entrust-sign.yaml
  /v3/papay/insurance-pay/policy-periods/contract-id/{contract_id}/policy-period-id/{policy_period_id}:
    $ref: ./v3/papay/insurance-pay/policy-periods/contract-id/{contract_id}/policy-period-id/{policy_period_id}.yaml
  /v3/papay/insurance-pay/policy-periods/contract-id/{contract_id}/policy-period-id/{policy_period_id}/schedule:
    $ref: ./v3/papay/insurance-pay/policy-periods/contract-id/{contract_id}/policy-period-id/{policy_period_id}/schedule.yaml
  /v3/papay/insurance-pay/transactions/apply:
    $ref: ./v3/papay/insurance-pay/transactions/apply.yaml
  /v3/papay/insurance-sign/contracts/plan-id/{plan_id}/contract-id/{contract_id}/renew:
    $ref: ./v3/papay/insurance-sign/contracts/plan-id/{plan_id}/contract-id/{contract_id}/renew.yaml
  /v3/papay/insurance-sign/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}:
    $ref: ./v3/papay/insurance-sign/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}.yaml
  /v3/papay/insurance-sign/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}/terminate:
    $ref: ./v3/papay/insurance-sign/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}/terminate.yaml
  /v3/papay/insurance-sign/contracts/pre-entrust-sign/app:
    $ref: ./v3/papay/insurance-sign/contracts/pre-entrust-sign/app.yaml
  /v3/papay/insurance-sign/contracts/pre-entrust-sign/h5:
    $ref: ./v3/papay/insurance-sign/contracts/pre-entrust-sign/h5.yaml
  /v3/papay/insurance-sign/contracts/pre-entrust-sign/jsapi:
    $ref: ./v3/papay/insurance-sign/contracts/pre-entrust-sign/jsapi.yaml
  /v3/papay/insurance-sign/contracts/pre-entrust-sign/mini-program:
    $ref: ./v3/papay/insurance-sign/contracts/pre-entrust-sign/mini-program.yaml
  /v3/papay/insurance-sign/policy_periods/plan-id/{plan_id}/out-contract-code/{out_contract_code}:
    $ref: ./v3/papay/insurance-sign/policy_periods/plan-id/{plan_id}/out-contract-code/{out_contract_code}.yaml
  /v3/papay/insurance-sign/policy-periods/plan-id/{plan_id}/contract-id/{contract_id}/modify:
    $ref: ./v3/papay/insurance-sign/policy-periods/plan-id/{plan_id}/contract-id/{contract_id}/modify.yaml
  /v3/papay/pay/partner/schedules/contract-id/{contract_id}:
    $ref: ./v3/papay/pay/partner/schedules/contract-id/{contract_id}.yaml
  /v3/papay/pay/partner/schedules/contract-id/{contract_id}/schedule:
    $ref: ./v3/papay/pay/partner/schedules/contract-id/{contract_id}/schedule.yaml
  /v3/papay/pay/partner/transactions/apply:
    $ref: ./v3/papay/pay/partner/transactions/apply.yaml
  /v3/papay/pay/schedules/contract-id/{contract_id}:
    $ref: ./v3/papay/pay/schedules/contract-id/{contract_id}.yaml
  /v3/papay/pay/schedules/contract-id/{contract_id}/schedule:
    $ref: ./v3/papay/pay/schedules/contract-id/{contract_id}/schedule.yaml
  /v3/papay/pay/transactions/apply:
    $ref: ./v3/papay/pay/transactions/apply.yaml
  /v3/papay/scheduled-deduct-sign/contracts/pre-entrust-sign/app:
    $ref: ./v3/papay/scheduled-deduct-sign/contracts/pre-entrust-sign/app.yaml
  /v3/papay/scheduled-deduct-sign/contracts/pre-entrust-sign/h5:
    $ref: ./v3/papay/scheduled-deduct-sign/contracts/pre-entrust-sign/h5.yaml
  /v3/papay/scheduled-deduct-sign/contracts/pre-entrust-sign/jsapi:
    $ref: ./v3/papay/scheduled-deduct-sign/contracts/pre-entrust-sign/jsapi.yaml
  /v3/papay/scheduled-deduct-sign/contracts/pre-entrust-sign/mini-program:
    $ref: ./v3/papay/scheduled-deduct-sign/contracts/pre-entrust-sign/mini-program.yaml
  /v3/papay/scheduled-deduct-sign/partner/contracts/pre-entrust-sign/app:
    $ref: ./v3/papay/scheduled-deduct-sign/partner/contracts/pre-entrust-sign/app.yaml
  /v3/papay/scheduled-deduct-sign/partner/contracts/pre-entrust-sign/h5:
    $ref: ./v3/papay/scheduled-deduct-sign/partner/contracts/pre-entrust-sign/h5.yaml
  /v3/papay/scheduled-deduct-sign/partner/contracts/pre-entrust-sign/jsapi:
    $ref: ./v3/papay/scheduled-deduct-sign/partner/contracts/pre-entrust-sign/jsapi.yaml
  /v3/papay/scheduled-deduct-sign/partner/contracts/pre-entrust-sign/mini-program:
    $ref: ./v3/papay/scheduled-deduct-sign/partner/contracts/pre-entrust-sign/mini-program.yaml
  /v3/papay/sign/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}:
    $ref: ./v3/papay/sign/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}.yaml
  /v3/papay/sign/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}/terminate:
    $ref: ./v3/papay/sign/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}/terminate.yaml
  /v3/papay/sign/partner/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}:
    $ref: ./v3/papay/sign/partner/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}.yaml
  /v3/papay/sign/partner/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}/terminate:
    $ref: ./v3/papay/sign/partner/contracts/plan-id/{plan_id}/out-contract-code/{out_contract_code}/terminate.yaml
  /v3/partner-papay/contracts/{contract_id}/fail-notify:
    $ref: ./v3/partner-papay/contracts/{contract_id}/fail-notify.yaml
  /v3/partner-papay/contracts/{contract_id}/notify:
    $ref: ./v3/partner-papay/contracts/{contract_id}/notify.yaml
  /v3/partner-transfer/batches:
    $ref: ./v3/partner-transfer/batches.yaml
  /v3/partner-transfer/batches/batch-id/{batch_id}:
    $ref: ./v3/partner-transfer/batches/batch-id/{batch_id}.yaml
  /v3/partner-transfer/batches/batch-id/{batch_id}/details/detail-id/{detail_id}:
    $ref: ./v3/partner-transfer/batches/batch-id/{batch_id}/details/detail-id/{detail_id}.yaml
  /v3/partner-transfer/batches/out-batch-no/{out_batch_no}:
    $ref: ./v3/partner-transfer/batches/out-batch-no/{out_batch_no}.yaml
  /v3/partner-transfer/batches/out-batch-no/{out_batch_no}/details/out-detail-no/{out_detail_no}:
    $ref: ./v3/partner-transfer/batches/out-batch-no/{out_batch_no}/details/out-detail-no/{out_detail_no}.yaml
  /v3/password-exempt-contract/contracts/ecommerce/pre-entrust-sign/mini-program:
    $ref: ./v3/password-exempt-contract/contracts/ecommerce/pre-entrust-sign/mini-program.yaml
  /v3/password-exempt-contract/contracts/ecommerce/pre-entrust-sign/pay-redirect-sign:
    $ref: ./v3/password-exempt-contract/contracts/ecommerce/pre-entrust-sign/pay-redirect-sign.yaml
  /v3/password-exempt-contract/contracts/normal/pre-entrust-sign/mini-program:
    $ref: ./v3/password-exempt-contract/contracts/normal/pre-entrust-sign/mini-program.yaml
  /v3/password-exempt-contract/contracts/normal/pre-entrust-sign/pay-redirect-sign:
    $ref: ./v3/password-exempt-contract/contracts/normal/pre-entrust-sign/pay-redirect-sign.yaml
  /v3/password-exempt-contract/contracts/qs/pre-entrust-sign/mini-program:
    $ref: ./v3/password-exempt-contract/contracts/qs/pre-entrust-sign/mini-program.yaml
  /v3/password-exempt-contract/contracts/qs/pre-entrust-sign/pay-redirect-sign:
    $ref: ./v3/password-exempt-contract/contracts/qs/pre-entrust-sign/pay-redirect-sign.yaml
  /v3/password-exempt-contract/contracts/service-id/{service_id}/out-contract-code/{out_contract_code}:
    $ref: ./v3/password-exempt-contract/contracts/service-id/{service_id}/out-contract-code/{out_contract_code}.yaml
  /v3/password-exempt-contract/contracts/service-id/{service_id}/out-contract-code/{out_contract_code}/terminate:
    $ref: ./v3/password-exempt-contract/contracts/service-id/{service_id}/out-contract-code/{out_contract_code}/terminate.yaml
  /v3/password-exempt-contract/contracts/service-provider/pre-entrust-sign/mini-program:
    $ref: ./v3/password-exempt-contract/contracts/service-provider/pre-entrust-sign/mini-program.yaml
  /v3/password-exempt-contract/contracts/service-provider/pre-entrust-sign/pay-redirect-sign:
    $ref: ./v3/password-exempt-contract/contracts/service-provider/pre-entrust-sign/pay-redirect-sign.yaml
  /v3/pay-devices/printers/{device_id}/print-orders:
    $ref: ./v3/pay-devices/printers/{device_id}/print-orders.yaml
  /v3/pay-devices/printers/{device_id}/print-orders/{print_order_no}:
    $ref: ./v3/pay-devices/printers/{device_id}/print-orders/{print_order_no}.yaml
  /v3/pay/partner/transactions/app:
    $ref: ./v3/pay/partner/transactions/app.yaml
  /v3/pay/partner/transactions/codepay:
    $ref: ./v3/pay/partner/transactions/codepay.yaml
  /v3/pay/partner/transactions/h5:
    $ref: ./v3/pay/partner/transactions/h5.yaml
  /v3/pay/partner/transactions/id/{transaction_id}:
    $ref: ./v3/pay/partner/transactions/id/{transaction_id}.yaml
  /v3/pay/partner/transactions/jsapi-with-contract:
    $ref: ./v3/pay/partner/transactions/jsapi-with-contract.yaml
  /v3/pay/partner/transactions/jsapi:
    $ref: ./v3/pay/partner/transactions/jsapi.yaml
  /v3/pay/partner/transactions/native:
    $ref: ./v3/pay/partner/transactions/native.yaml
  /v3/pay/partner/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/pay/partner/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/pay/partner/transactions/out-trade-no/{out_trade_no}/close:
    $ref: ./v3/pay/partner/transactions/out-trade-no/{out_trade_no}/close.yaml
  /v3/pay/partner/transactions/out-trade-no/{out_trade_no}/reverse:
    $ref: ./v3/pay/partner/transactions/out-trade-no/{out_trade_no}/reverse.yaml
  /v3/pay/partner/transactions/scannedpos:
    $ref: ./v3/pay/partner/transactions/scannedpos.yaml
  /v3/pay/transactions/app:
    $ref: ./v3/pay/transactions/app.yaml
  /v3/pay/transactions/codepay:
    $ref: ./v3/pay/transactions/codepay.yaml
  /v3/pay/transactions/h5:
    $ref: ./v3/pay/transactions/h5.yaml
  /v3/pay/transactions/id/{transaction_id}:
    $ref: ./v3/pay/transactions/id/{transaction_id}.yaml
  /v3/pay/transactions/jsapi-with-contract:
    $ref: ./v3/pay/transactions/jsapi-with-contract.yaml
  /v3/pay/transactions/jsapi:
    $ref: ./v3/pay/transactions/jsapi.yaml
  /v3/pay/transactions/native:
    $ref: ./v3/pay/transactions/native.yaml
  /v3/pay/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/pay/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/pay/transactions/out-trade-no/{out_trade_no}/close:
    $ref: ./v3/pay/transactions/out-trade-no/{out_trade_no}/close.yaml
  /v3/pay/transactions/out-trade-no/{out_trade_no}/reverse:
    $ref: ./v3/pay/transactions/out-trade-no/{out_trade_no}/reverse.yaml
  /v3/payroll-card/authentications:
    $ref: ./v3/payroll-card/authentications.yaml
  /v3/payroll-card/authentications/{authenticate_number}:
    $ref: ./v3/payroll-card/authentications/{authenticate_number}.yaml
  /v3/payroll-card/authentications/pre-order-with-auth:
    $ref: ./v3/payroll-card/authentications/pre-order-with-auth.yaml
  /v3/payroll-card/authentications/pre-order:
    $ref: ./v3/payroll-card/authentications/pre-order.yaml
  /v3/payroll-card/relations/{openid}:
    $ref: ./v3/payroll-card/relations/{openid}.yaml
  /v3/payroll-card/tokens:
    $ref: ./v3/payroll-card/tokens.yaml
  /v3/payroll-card/transfer-batches:
    $ref: ./v3/payroll-card/transfer-batches.yaml
  /v3/payroll-card/wesure/insurance:
    $ref: ./v3/payroll-card/wesure/insurance.yaml
  /v3/payroll-card/wesure/token-validations:
    $ref: ./v3/payroll-card/wesure/token-validations.yaml
  /v3/payscore/acquiringbank/permissions:
    $ref: ./v3/payscore/acquiringbank/permissions.yaml
  /v3/payscore/acquiringbank/permissions/authorization-code/{authorization_code}:
    $ref: ./v3/payscore/acquiringbank/permissions/authorization-code/{authorization_code}.yaml
  /v3/payscore/acquiringbank/permissions/authorization-code/{authorization_code}/terminate:
    $ref: ./v3/payscore/acquiringbank/permissions/authorization-code/{authorization_code}/terminate.yaml
  /v3/payscore/acquiringbank/serviceorder:
    $ref: ./v3/payscore/acquiringbank/serviceorder.yaml
  /v3/payscore/acquiringbank/serviceorder/{out_order_no}/cancel:
    $ref: ./v3/payscore/acquiringbank/serviceorder/{out_order_no}/cancel.yaml
  /v3/payscore/acquiringbank/serviceorder/{out_order_no}/complete:
    $ref: ./v3/payscore/acquiringbank/serviceorder/{out_order_no}/complete.yaml
  /v3/payscore/acquiringbank/serviceorder/{out_order_no}/modify:
    $ref: ./v3/payscore/acquiringbank/serviceorder/{out_order_no}/modify.yaml
  /v3/payscore/acquiringbank/serviceorder/{out_order_no}/registerdeductinfo:
    $ref: ./v3/payscore/acquiringbank/serviceorder/{out_order_no}/registerdeductinfo.yaml
  /v3/payscore/acquiringbank/serviceorder/{out_order_no}/sync:
    $ref: ./v3/payscore/acquiringbank/serviceorder/{out_order_no}/sync.yaml
  /v3/payscore/acquiringbank/serviceorder/deduction:
    $ref: ./v3/payscore/acquiringbank/serviceorder/deduction.yaml
  /v3/payscore/acquiringbank/servicepayondeliveryorder:
    $ref: ./v3/payscore/acquiringbank/servicepayondeliveryorder.yaml
  /v3/payscore/merchant-bill:
    $ref: ./v3/payscore/merchant-bill.yaml
  /v3/payscore/partner/permissions:
    $ref: ./v3/payscore/partner/permissions.yaml
  /v3/payscore/partner/permissions/apply-for-scene:
    $ref: ./v3/payscore/partner/permissions/apply-for-scene.yaml
  /v3/payscore/partner/permissions/assess-user-risk-level:
    $ref: ./v3/payscore/partner/permissions/assess-user-risk-level.yaml
  /v3/payscore/partner/permissions/authorization-code/{authorization_code}:
    $ref: ./v3/payscore/partner/permissions/authorization-code/{authorization_code}.yaml
  /v3/payscore/partner/permissions/authorization-code/{authorization_code}/terminate:
    $ref: ./v3/payscore/partner/permissions/authorization-code/{authorization_code}/terminate.yaml
  /v3/payscore/partner/permissions/search:
    $ref: ./v3/payscore/partner/permissions/search.yaml
  /v3/payscore/partner/permissions/terminate:
    $ref: ./v3/payscore/partner/permissions/terminate.yaml
  /v3/payscore/partner/service-account-applications:
    $ref: ./v3/payscore/partner/service-account-applications.yaml
  /v3/payscore/partner/service-account-applications/{out_apply_no}:
    $ref: ./v3/payscore/partner/service-account-applications/{out_apply_no}.yaml
  /v3/payscore/partner/serviceorder:
    $ref: ./v3/payscore/partner/serviceorder.yaml
  /v3/payscore/partner/serviceorder/{out_order_no}/cancel:
    $ref: ./v3/payscore/partner/serviceorder/{out_order_no}/cancel.yaml
  /v3/payscore/partner/serviceorder/{out_order_no}/complete:
    $ref: ./v3/payscore/partner/serviceorder/{out_order_no}/complete.yaml
  /v3/payscore/partner/serviceorder/{out_order_no}/modify:
    $ref: ./v3/payscore/partner/serviceorder/{out_order_no}/modify.yaml
  /v3/payscore/partner/serviceorder/{out_order_no}/pay:
    $ref: ./v3/payscore/partner/serviceorder/{out_order_no}/pay.yaml
  /v3/payscore/partner/serviceorder/{out_order_no}/send-pendingmessage:
    $ref: ./v3/payscore/partner/serviceorder/{out_order_no}/send-pendingmessage.yaml
  /v3/payscore/partner/serviceorder/{out_order_no}/send-prepaidmessage:
    $ref: ./v3/payscore/partner/serviceorder/{out_order_no}/send-prepaidmessage.yaml
  /v3/payscore/partner/serviceorder/{out_order_no}/sync:
    $ref: ./v3/payscore/partner/serviceorder/{out_order_no}/sync.yaml
  /v3/payscore/partner/serviceorder/direct-complete:
    $ref: ./v3/payscore/partner/serviceorder/direct-complete.yaml
  /v3/payscore/partner/servicepayondeliveryorder:
    $ref: ./v3/payscore/partner/servicepayondeliveryorder.yaml
  /v3/payscore/partner/servicequotas/service-id/{service_id}:
    $ref: ./v3/payscore/partner/servicequotas/service-id/{service_id}.yaml
  /v3/payscore/payafter-orders:
    $ref: ./v3/payscore/payafter-orders.yaml
  /v3/payscore/payafter-orders/{out_order_no}/cancel:
    $ref: ./v3/payscore/payafter-orders/{out_order_no}/cancel.yaml
  /v3/payscore/payafter-orders/{out_order_no}/complete:
    $ref: ./v3/payscore/payafter-orders/{out_order_no}/complete.yaml
  /v3/payscore/payafter-orders/{out_order_no}/sync:
    $ref: ./v3/payscore/payafter-orders/{out_order_no}/sync.yaml
  /v3/payscore/permissions:
    $ref: ./v3/payscore/permissions.yaml
  /v3/payscore/permissions/assess-user-risk-level:
    $ref: ./v3/payscore/permissions/assess-user-risk-level.yaml
  /v3/payscore/permissions/authorization-code/{authorization_code}:
    $ref: ./v3/payscore/permissions/authorization-code/{authorization_code}.yaml
  /v3/payscore/permissions/authorization-code/{authorization_code}/terminate:
    $ref: ./v3/payscore/permissions/authorization-code/{authorization_code}/terminate.yaml
  /v3/payscore/permissions/openid/{openid}:
    $ref: ./v3/payscore/permissions/openid/{openid}.yaml
  /v3/payscore/permissions/openid/{openid}/terminate:
    $ref: ./v3/payscore/permissions/openid/{openid}/terminate.yaml
  /v3/payscore/plan/partner/payscore-plans:
    $ref: ./v3/payscore/plan/partner/payscore-plans.yaml
  /v3/payscore/plan/partner/payscore-plans/merchant-plan-no/{merchant_plan_no}:
    $ref: ./v3/payscore/plan/partner/payscore-plans/merchant-plan-no/{merchant_plan_no}.yaml
  /v3/payscore/plan/partner/payscore-plans/merchant-plan-no/{merchant_plan_no}/stop:
    $ref: ./v3/payscore/plan/partner/payscore-plans/merchant-plan-no/{merchant_plan_no}/stop.yaml
  /v3/payscore/plan/payscore-plans:
    $ref: ./v3/payscore/plan/payscore-plans.yaml
  /v3/payscore/plan/payscore-plans/merchant-plan-no/{merchant_plan_no}:
    $ref: ./v3/payscore/plan/payscore-plans/merchant-plan-no/{merchant_plan_no}.yaml
  /v3/payscore/plan/payscore-plans/merchant-plan-no/{merchant_plan_no}/stop:
    $ref: ./v3/payscore/plan/payscore-plans/merchant-plan-no/{merchant_plan_no}/stop.yaml
  /v3/payscore/serviceorder:
    $ref: ./v3/payscore/serviceorder.yaml
  /v3/payscore/serviceorder/{out_order_no}/cancel:
    $ref: ./v3/payscore/serviceorder/{out_order_no}/cancel.yaml
  /v3/payscore/serviceorder/{out_order_no}/complete:
    $ref: ./v3/payscore/serviceorder/{out_order_no}/complete.yaml
  /v3/payscore/serviceorder/{out_order_no}/modify:
    $ref: ./v3/payscore/serviceorder/{out_order_no}/modify.yaml
  /v3/payscore/serviceorder/{out_order_no}/pay:
    $ref: ./v3/payscore/serviceorder/{out_order_no}/pay.yaml
  /v3/payscore/serviceorder/{out_order_no}/send-pendingmessage:
    $ref: ./v3/payscore/serviceorder/{out_order_no}/send-pendingmessage.yaml
  /v3/payscore/serviceorder/{out_order_no}/send-prepaidmessage:
    $ref: ./v3/payscore/serviceorder/{out_order_no}/send-prepaidmessage.yaml
  /v3/payscore/serviceorder/{out_order_no}/sync:
    $ref: ./v3/payscore/serviceorder/{out_order_no}/sync.yaml
  /v3/payscore/serviceorder/direct-complete:
    $ref: ./v3/payscore/serviceorder/direct-complete.yaml
  /v3/payscore/servicepayondeliveryorder:
    $ref: ./v3/payscore/servicepayondeliveryorder.yaml
  /v3/payscore/sign-plan/partner/serviceorder:
    $ref: ./v3/payscore/sign-plan/partner/serviceorder.yaml
  /v3/payscore/sign-plan/partner/user-sign-plans:
    $ref: ./v3/payscore/sign-plan/partner/user-sign-plans.yaml
  /v3/payscore/sign-plan/partner/user-sign-plans/merchant-sign-plan-no/{merchant_sign_plan_no}:
    $ref: ./v3/payscore/sign-plan/partner/user-sign-plans/merchant-sign-plan-no/{merchant_sign_plan_no}.yaml
  /v3/payscore/sign-plan/partner/user-sign-plans/merchant-sign-plan-no/{merchant_sign_plan_no}/stop:
    $ref: ./v3/payscore/sign-plan/partner/user-sign-plans/merchant-sign-plan-no/{merchant_sign_plan_no}/stop.yaml
  /v3/payscore/sign-plan/serviceorder:
    $ref: ./v3/payscore/sign-plan/serviceorder.yaml
  /v3/payscore/sign-plan/user-sign-plans:
    $ref: ./v3/payscore/sign-plan/user-sign-plans.yaml
  /v3/payscore/sign-plan/user-sign-plans/merchant-sign-plan-no/{merchant_sign_plan_no}:
    $ref: ./v3/payscore/sign-plan/user-sign-plans/merchant-sign-plan-no/{merchant_sign_plan_no}.yaml
  /v3/payscore/sign-plan/user-sign-plans/merchant-sign-plan-no/{merchant_sign_plan_no}/stop:
    $ref: ./v3/payscore/sign-plan/user-sign-plans/merchant-sign-plan-no/{merchant_sign_plan_no}/stop.yaml
  /v3/payscore/smartretail-orders:
    $ref: ./v3/payscore/smartretail-orders.yaml
  /v3/payscore/smartretail-orders/{out_order_no}/cancel:
    $ref: ./v3/payscore/smartretail-orders/{out_order_no}/cancel.yaml
  /v3/payscore/smartretail-orders/{out_order_no}/complete:
    $ref: ./v3/payscore/smartretail-orders/{out_order_no}/complete.yaml
  /v3/payscore/user-service-state:
    $ref: ./v3/payscore/user-service-state.yaml
  /v3/payscore/users/{openid}/permissions/{service_id}/terminate:
    $ref: ./v3/payscore/users/{openid}/permissions/{service_id}/terminate.yaml
  /v3/platsolution/ecommerce/bank-transfer-recharges/apply:
    $ref: ./v3/platsolution/ecommerce/bank-transfer-recharges/apply.yaml
  /v3/platsolution/ecommerce/bank-transfer-recharges/out-recharge-no/{out_recharge_no}:
    $ref: ./v3/platsolution/ecommerce/bank-transfer-recharges/out-recharge-no/{out_recharge_no}.yaml
  /v3/platsolution/ecommerce/insurance-compensation-contracts:
    $ref: ./v3/platsolution/ecommerce/insurance-compensation-contracts.yaml
  /v3/platsolution/ecommerce/insurance-compensation-contracts/sub-mchid/{sub_mchid}/check-opened:
    $ref: ./v3/platsolution/ecommerce/insurance-compensation-contracts/sub-mchid/{sub_mchid}/check-opened.yaml
  /v3/platsolution/ecommerce/mch-transfer/compensate-bills:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/compensate-bills.yaml
  /v3/platsolution/ecommerce/mch-transfer/compensate-bills/bill-id/{bill_id}:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/compensate-bills/bill-id/{bill_id}.yaml
  /v3/platsolution/ecommerce/mch-transfer/compensate-bills/out-bill-no/{out_bill_no}:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/compensate-bills/out-bill-no/{out_bill_no}.yaml
  /v3/platsolution/ecommerce/mch-transfer/compensate-bills/out-bill-no/{out_bill_no}/cancel:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/compensate-bills/out-bill-no/{out_bill_no}/cancel.yaml
  /v3/platsolution/ecommerce/mch-transfer/compensate-bills/pre-transfer:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/compensate-bills/pre-transfer.yaml
  /v3/platsolution/ecommerce/mch-transfer/deposit-after-sales-compensation-bills:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/deposit-after-sales-compensation-bills.yaml
  /v3/platsolution/ecommerce/mch-transfer/deposit-after-sales-compensation-bills/bill-id/{bill_id}:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/deposit-after-sales-compensation-bills/bill-id/{bill_id}.yaml
  /v3/platsolution/ecommerce/mch-transfer/deposit-after-sales-compensation-bills/out-bill-no/{out_bill_no}:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/deposit-after-sales-compensation-bills/out-bill-no/{out_bill_no}.yaml
  /v3/platsolution/ecommerce/mch-transfer/deposit-shipping-cost-compensation-bills:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/deposit-shipping-cost-compensation-bills.yaml
  /v3/platsolution/ecommerce/mch-transfer/deposit-shipping-cost-compensation-bills/out-bill-no/{out_bill_no}:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/deposit-shipping-cost-compensation-bills/out-bill-no/{out_bill_no}.yaml
  /v3/platsolution/ecommerce/mch-transfer/insurance-claim-bills:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/insurance-claim-bills.yaml
  /v3/platsolution/ecommerce/mch-transfer/insurance-claim-bills/bill-id/{bill_id}:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/insurance-claim-bills/bill-id/{bill_id}.yaml
  /v3/platsolution/ecommerce/mch-transfer/insurance-claim-bills/out-bill-no/{out_bill_no}:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/insurance-claim-bills/out-bill-no/{out_bill_no}.yaml
  /v3/platsolution/ecommerce/mch-transfer/insurance-claim-bills/out-bill-no/{out_bill_no}/cancel:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/insurance-claim-bills/out-bill-no/{out_bill_no}/cancel.yaml
  /v3/platsolution/ecommerce/mch-transfer/insurance-claim-bills/pre-transfer:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/insurance-claim-bills/pre-transfer.yaml
  /v3/platsolution/ecommerce/mch-transfer/transfer-bills:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/transfer-bills.yaml
  /v3/platsolution/ecommerce/mch-transfer/transfer-bills/bill-id/{bill_id}:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/transfer-bills/bill-id/{bill_id}.yaml
  /v3/platsolution/ecommerce/mch-transfer/transfer-bills/out-bill-no/{out_bill_no}:
    $ref: ./v3/platsolution/ecommerce/mch-transfer/transfer-bills/out-bill-no/{out_bill_no}.yaml
  /v3/platsolution/ecommerce/recharge-employees:
    $ref: ./v3/platsolution/ecommerce/recharge-employees.yaml
  /v3/platsolution/ecommerce/recharge-employees/sub-mchid/{sub_mchid}:
    $ref: ./v3/platsolution/ecommerce/recharge-employees/sub-mchid/{sub_mchid}.yaml
  /v3/platsolution/ecommerce/recharge-employees/sub-mchid/{sub_mchid}/sp-openid/{sp_openid}/delete:
    $ref: ./v3/platsolution/ecommerce/recharge-employees/sub-mchid/{sub_mchid}/sp-openid/{sp_openid}/delete.yaml
  /v3/platsolution/ecommerce/recharges/apply:
    $ref: ./v3/platsolution/ecommerce/recharges/apply.yaml
  /v3/platsolution/ecommerce/recharges/out-recharge-no/{out_recharge_no}:
    $ref: ./v3/platsolution/ecommerce/recharges/out-recharge-no/{out_recharge_no}.yaml
  /v3/platsolution/ecommerce/recharges/out-recharge-no/{out_recharge_no}/close:
    $ref: ./v3/platsolution/ecommerce/recharges/out-recharge-no/{out_recharge_no}/close.yaml
  /v3/platsolution/ecommerce/settle/prepay-settle-orders:
    $ref: ./v3/platsolution/ecommerce/settle/prepay-settle-orders.yaml
  /v3/platsolution/ecommerce/settle/prepay-settle-orders/{settle_batch_no}:
    $ref: ./v3/platsolution/ecommerce/settle/prepay-settle-orders/{settle_batch_no}.yaml
  /v3/platsolution/mch-transfer/batches/apply:
    $ref: ./v3/platsolution/mch-transfer/batches/apply.yaml
  /v3/platsolution/mch-transfer/batches/batch-id/{batch_id}:
    $ref: ./v3/platsolution/mch-transfer/batches/batch-id/{batch_id}.yaml
  /v3/platsolution/mch-transfer/batches/batch-id/{batch_id}/details/detail-id/{detail_id}:
    $ref: ./v3/platsolution/mch-transfer/batches/batch-id/{batch_id}/details/detail-id/{detail_id}.yaml
  /v3/platsolution/mch-transfer/batches/detail-receipts/out-batch-no/{out_batch_no}/out-detail-no/{out_detail_no}:
    $ref: ./v3/platsolution/mch-transfer/batches/detail-receipts/out-batch-no/{out_batch_no}/out-detail-no/{out_detail_no}.yaml
  /v3/platsolution/mch-transfer/batches/detail-receipts/out-batch-no/{out_batch_no}/out-detail-no/{out_detail_no}/apply:
    $ref: ./v3/platsolution/mch-transfer/batches/detail-receipts/out-batch-no/{out_batch_no}/out-detail-no/{out_detail_no}/apply.yaml
  /v3/platsolution/mch-transfer/batches/out-batch-no/{out_batch_no}:
    $ref: ./v3/platsolution/mch-transfer/batches/out-batch-no/{out_batch_no}.yaml
  /v3/platsolution/mch-transfer/batches/out-batch-no/{out_batch_no}/details/out-detail-no/{out_detail_no}:
    $ref: ./v3/platsolution/mch-transfer/batches/out-batch-no/{out_batch_no}/details/out-detail-no/{out_detail_no}.yaml
  /v3/platsolution/mch-transfer/batches/summary-receipts/out-batch-no/{out_batch_no}:
    $ref: ./v3/platsolution/mch-transfer/batches/summary-receipts/out-batch-no/{out_batch_no}.yaml
  /v3/platsolution/mch-transfer/batches/summary-receipts/out-batch-no/{out_batch_no}/apply:
    $ref: ./v3/platsolution/mch-transfer/batches/summary-receipts/out-batch-no/{out_batch_no}/apply.yaml
  /v3/platsolution/mch-transfer/reservation/apply:
    $ref: ./v3/platsolution/mch-transfer/reservation/apply.yaml
  /v3/platsolution/mch-transfer/reservation/out-reservation-no/{out_reservation_no}:
    $ref: ./v3/platsolution/mch-transfer/reservation/out-reservation-no/{out_reservation_no}.yaml
  /v3/platsolution/mch-transfer/reservation/out-reservation-no/{out_reservation_no}/close:
    $ref: ./v3/platsolution/mch-transfer/reservation/out-reservation-no/{out_reservation_no}/close.yaml
  /v3/platsolution/mch-transfer/reservation/reservation-id/{reservation_id}:
    $ref: ./v3/platsolution/mch-transfer/reservation/reservation-id/{reservation_id}.yaml
  /v3/profitsharing/bills:
    $ref: ./v3/profitsharing/bills.yaml
  /v3/profitsharing/merchant-configs/{sub_mchid}:
    $ref: ./v3/profitsharing/merchant-configs/{sub_mchid}.yaml
  /v3/profitsharing/orders:
    $ref: ./v3/profitsharing/orders.yaml
  /v3/profitsharing/orders/{out_order_no}:
    $ref: ./v3/profitsharing/orders/{out_order_no}.yaml
  /v3/profitsharing/orders/unfreeze:
    $ref: ./v3/profitsharing/orders/unfreeze.yaml
  /v3/profitsharing/receivers/add:
    $ref: ./v3/profitsharing/receivers/add.yaml
  /v3/profitsharing/receivers/delete:
    $ref: ./v3/profitsharing/receivers/delete.yaml
  /v3/profitsharing/return-orders:
    $ref: ./v3/profitsharing/return-orders.yaml
  /v3/profitsharing/return-orders/{out_return_no}:
    $ref: ./v3/profitsharing/return-orders/{out_return_no}.yaml
  /v3/profitsharing/transactions/{transaction_id}/amounts:
    $ref: ./v3/profitsharing/transactions/{transaction_id}/amounts.yaml
  /v3/qrcode/transactions:
    $ref: ./v3/qrcode/transactions.yaml
  /v3/qrcode/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/qrcode/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/qrcode/user-services/contract-id/{contract_id}:
    $ref: ./v3/qrcode/user-services/contract-id/{contract_id}.yaml
  /v3/rate-activity/applications:
    $ref: ./v3/rate-activity/applications.yaml
  /v3/rate-activity/applications/id/{application_id}:
    $ref: ./v3/rate-activity/applications/id/{application_id}.yaml
  /v3/realname/verify:
    $ref: ./v3/realname/verify.yaml
  /v3/recharge/bank-transfer-recharges/apply:
    $ref: ./v3/recharge/bank-transfer-recharges/apply.yaml
  /v3/recharge/bank-transfer-recharges/out-recharge-no/{out_recharge_no}:
    $ref: ./v3/recharge/bank-transfer-recharges/out-recharge-no/{out_recharge_no}.yaml
  /v3/refund/domestic/refunds:
    $ref: ./v3/refund/domestic/refunds.yaml
  /v3/refund/domestic/refunds/{out_refund_no}:
    $ref: ./v3/refund/domestic/refunds/{out_refund_no}.yaml
  /v3/refund/domestic/refunds/{refund_id}/apply-abnormal-refund:
    $ref: ./v3/refund/domestic/refunds/{refund_id}/apply-abnormal-refund.yaml
  /v3/smartguide/guides:
    $ref: ./v3/smartguide/guides.yaml
  /v3/smartguide/guides/{guide_id}:
    $ref: ./v3/smartguide/guides/{guide_id}.yaml
  /v3/smartguide/guides/{guide_id}/assign:
    $ref: ./v3/smartguide/guides/{guide_id}/assign.yaml
  /v3/taxi-invoice/attendance/punch:
    $ref: ./v3/taxi-invoice/attendance/punch.yaml
  /v3/taxi-invoice/cards:
    $ref: ./v3/taxi-invoice/cards.yaml
  /v3/taxi-invoice/cards/upload-file:
    $ref: ./v3/taxi-invoice/cards/upload-file.yaml
  /v3/taxi-invoice/driver/update-driver:
    $ref: ./v3/taxi-invoice/driver/update-driver.yaml
  /v3/taxi-invoice/drivers/{driver_license}:
    $ref: ./v3/taxi-invoice/drivers/{driver_license}.yaml
  /v3/taxi-invoice/taxi-companies/{company_mchid}:
    $ref: ./v3/taxi-invoice/taxi-companies/{company_mchid}.yaml
  /v3/taxi-invoice/taxi-company/create-taxi-company:
    $ref: ./v3/taxi-invoice/taxi-company/create-taxi-company.yaml
  /v3/taxi-invoice/taxi/update-taxi:
    $ref: ./v3/taxi-invoice/taxi/update-taxi.yaml
  /v3/taxi-invoice/taxies/{plate_number}:
    $ref: ./v3/taxi-invoice/taxies/{plate_number}.yaml
  /v3/taxi-invoice/user-taxi-order/find-by-token:
    $ref: ./v3/taxi-invoice/user-taxi-order/find-by-token.yaml
  /v3/taxi-invoice/user-taxi-orders:
    $ref: ./v3/taxi-invoice/user-taxi-orders.yaml
  /v3/transfer-detail/electronic-receipts:
    $ref: ./v3/transfer-detail/electronic-receipts.yaml
  /v3/transfer/batches:
    $ref: ./v3/transfer/batches.yaml
  /v3/transfer/batches/batch-id/{batch_id}:
    $ref: ./v3/transfer/batches/batch-id/{batch_id}.yaml
  /v3/transfer/batches/batch-id/{batch_id}/details/detail-id/{detail_id}:
    $ref: ./v3/transfer/batches/batch-id/{batch_id}/details/detail-id/{detail_id}.yaml
  /v3/transfer/batches/out-batch-no/{out_batch_no}:
    $ref: ./v3/transfer/batches/out-batch-no/{out_batch_no}.yaml
  /v3/transfer/batches/out-batch-no/{out_batch_no}/details/out-detail-no/{out_detail_no}:
    $ref: ./v3/transfer/batches/out-batch-no/{out_batch_no}/details/out-detail-no/{out_detail_no}.yaml
  /v3/transfer/bill-receipt:
    $ref: ./v3/transfer/bill-receipt.yaml
  /v3/transfer/bill-receipt/{out_batch_no}:
    $ref: ./v3/transfer/bill-receipt/{out_batch_no}.yaml
  /v3/transferdownload/elecvoucherfile:
    $ref: ./v3/transferdownload/elecvoucherfile.yaml
  /v3/transferdownload/signfile:
    $ref: ./v3/transferdownload/signfile.yaml
  /v3/vehicle/etc/contracts/{contract_id}:
    $ref: ./v3/vehicle/etc/contracts/{contract_id}.yaml
  /v3/vehicle/etc/preopen:
    $ref: ./v3/vehicle/etc/preopen.yaml
  /v3/vehicle/etc/transactions/highway:
    $ref: ./v3/vehicle/etc/transactions/highway.yaml
  /v3/vehicle/etc/transactions/id/{transaction_id}:
    $ref: ./v3/vehicle/etc/transactions/id/{transaction_id}.yaml
  /v3/vehicle/etc/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/vehicle/etc/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/vehicle/etc/users/{openid}/contracts:
    $ref: ./v3/vehicle/etc/users/{openid}/contracts.yaml
  /v3/vehicle/parking/parkings:
    $ref: ./v3/vehicle/parking/parkings.yaml
  /v3/vehicle/parking/services/find:
    $ref: ./v3/vehicle/parking/services/find.yaml
  /v3/vehicle/transactions/out-trade-no/{out_trade_no}:
    $ref: ./v3/vehicle/transactions/out-trade-no/{out_trade_no}.yaml
  /v3/vehicle/transactions/parking:
    $ref: ./v3/vehicle/transactions/parking.yaml
  /v3/webhooks:
    $ref: ./v3/webhooks.yaml
