post:
  x-version:
    - 2023.12.05
  x-role:
    - 从业机构（支付机构）
  tags:
    - 跨境∙H5权限
  summary: 创建H5支付权限申请单
  description: 商户可以通过调用此接口为子商户申请H5支付权限。调用之前需要先签署批量提交协议。如果限额类型（transaction_limit_type）选择不限额度（NO_LIMIT），则在此申请单创建完成后，系统会未子商户自动创建解除限额申请单。发起解除限额申请时，需要确保商户已经获得了普通限额的支付权限。 [官方文档](https://pay.weixin.qq.com/wiki/doc/api_external/ch/apis/chapter4_4_1.shtml)
  parameters:
    - name: _
      in: body
      required: true
      schema:
        type: object
        required:
          - sub_mchid
          - domains
          - website_url
        properties:
          business_description:
            type: string
            description: 公司介绍和业务描述
            example: 腾讯于1998年11月成立，是一家互联网公司，通过技术丰富互联网用户的生活，助力企业数字化升级。我们的使命是“用户为本 科技向善”
          sub_mchid:
            type: string
            description: 子商户号
            example: '2491935631'
          domains:
            type: array
            description: H5支付域名
            items:
              type: string
            example: ["qq.com"]
          company_register_cert:
            type: string
            format: MediaId
            description: 公司注册资质证书
            example: 6uqyGjvHzOhsLleGFQVRF
          transaction_limit_type:
            type: string
            description: 限额类型
            example: UN_LAUNCHED_WEBSITE_LIMIT
            enum:
              - UN_LAUNCHED_WEBSITE_LIMIT
              - NORMAL_LIMIT
              - NO_LIMIT
          website_business_page_pics:
            type: array
            description: 经营网址商业页面截图
            items:
              type: string
              format: MediaId
            example: ["6uqyGjvHzOhsLleGFQVRF"]
          website_homepage_pics:
            type: array
            description: 经营网址首页截图
            items:
              type: string
              format: MediaId
            example: ["6uqyGjvHzOhsLleGFQVRF"]
          website_state:
            type: string
            description: 子商户经营网址状态
            example: HAS_LAUNCHED
            enum:
              - HAS_LAUNCHED
              - UN_LAUNCHED
          website_url:
            type: string
            description: 子商户H5经营网址
            example: https://qq.com
          notify_url:
            type: string
            description: 商户提供的审核结果回调接口
            example: https://pay.weixin.qq.com/wxpay/pay.action
          applyment_type:
            type: string
            description: 申请单类型
            example: APPLY_FOR_PAYMENT_AUTHORITY
            enum:
              - APPLY_FOR_PAYMENT_AUTHORITY
              - APPLY_FOR_RELIEVE_LIMITED
  responses:
    '200':
      schema:
        type: object
        required:
          - sub_mchid
          - domains
          - transaction_limit_type
          - website_state
          - website_url
          - applyment_id
          - applyment_state
          - applyment_type
        properties:
          sub_mchid:
            type: string
            description: 子商户号
            example: '2491935631'
          domains:
            type: array
            description: H5支付域名
            example: '["qq.com"]'
          business_description:
            type: string
            description: 公司介绍和业务描述
            example: 腾讯于1998年11月成立，是一家互联网公司，通过技术丰富互联网用户的生活，助力企业数字化升级。我们的使命是“用户为本 科技向善”
          transaction_limit_type:
            type: string
            description: 限额类型
            example: UN_LAUNCHED_WEBSITE_LIMIT
            enum:
              - UN_LAUNCHED_WEBSITE_LIMIT
              - NORMAL_LIMIT
              - NO_LIMIT
          company_register_cert:
            type: string
            format: MediaId
            description: 公司注册资质证书
            example: 6uqyGjvHzOhsLleGFQVRF
          website_business_page_pics:
            type: array
            description: 经营网址商业页面截图
            items:
              type: string
              format: MediaId
            example: ["6uqyGjvHzOhsLleGFQVRF"]
          website_homepage_pics:
            type: array
            description: 经营网址首页截图
            items:
              type: string
              format: MediaId
            example: ["6uqyGjvHzOhsLleGFQVRF"]
          website_state:
            type: string
            description: 子商户经营网址状态
            example: HAS_LAUNCHED
          website_url:
            type: string
            description: 子商户H5经营网址
            example: https://qq.com
          applyment_id:
            type: integer
            description: 申请单号
            example: 100000
          audit_reject_detail:
            type: string
            description: 驳回原因
            example: 商户证书不符合要求
          applyment_state:
            type: string
            description: 申请单状态
            example: PENDING
          applyment_type:
            type: string
            description: 申请单类型
            example: APPLY_FOR_PAYMENT_AUTHORITY
          notify_url:
            type: string
            description: 商户提供的审核结果回调接口
            example: https://pay.weixin.qq.com/wxpay/pay.action
