name: CI

on: [push, pull_request]

jobs:
  ci:
    name: CI
    strategy:
      fail-fast: false
      matrix:
        php-version: ['7.1', '8.3', '8.4']
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP${{ matrix.php-version }}@${{ matrix.os }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none
          extensions: json, curl, libxml, simplexml, openssl

      - name: Validate composer.json and composer.lock
        run: composer validate --strict --no-check-version

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies on PHP${{ matrix.php-version }}@${{ matrix.os }}
        id: dependencies-cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ matrix.os }}-php${{ matrix.php-version }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php${{ matrix.php-version }}-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - run: vendor/bin/phpstan analyse --no-progress
